<panel titulo="Cadastro de Multas" id="panel-cadastro">
  <row>
    <input-group width="4" label="Número da Multa" help="Informe o número da multa" [(ngModel)]="vo.numeroMulta" id="numeroMulta" [disabled]="isExcluir()"></input-group>
    <select-group width="8" label="Cidade de ocorrência da multa" [(ngModel)]="vo.cidade.id" id="cidade" [disabled]="isExcluir()" [options]="itensCidade"></select-group>
  </row>

  <row>
    <input-group width="2" label="Data da multa" help="Informe a data da multa" [(ngModel)]="vo.dataMultaAux" id="dataMultaAux" type="date" [disabled]="isExcluir()"></input-group>
    <input-group width="2" label="Hora da Multa" help="Informe a hora da multa" [(ngModel)]="vo.horaMultaAux" id="horaMultaAux" type="time" [disabled]="isExcluir()"></input-group>
    <select-group width="2" label="Tipo de Veículo" help="Informe o tipo de veículo" id="tipoVeiculo" [(ngModel)]="vo.tipoVeiculo" [disabled]="isExcluir()" [options]="itensTipoVeiculo"></select-group>
    <select-group width="6" label="Funcionário" help="Informe o funcionário que levou a multa" id="funcionario" [(ngModel)]="vo.funcionario.id" [disabled]="isExcluir()" [options]="itensFuncionario"></select-group>
  </row>

  <row>
      <input-group width="2" label="Código da Multa" help="Informe o Código da Multa" [(ngModel)]="vo.codigoMulta" id="codigoMulta" [disabled]="isExcluir()"></input-group>
      <input-group width="6" label="Texto da Multa" help="Informe o Texto da Multa" [(ngModel)]="vo.textoMulta" id="textoMulta" [disabled]="isExcluir()"></input-group>
      <input-group width="4" label="Valor da Multa" help="Informe o Valor da Multa" [(ngModel)]="vo.valorMultaString" id="valorMulta" type="money" [disabled]="isExcluir()" (ngModelChange)="changeValorMulta()"></input-group>
  </row>

  <row>
    <col-sm-6></col-sm-6>

    <col-sm-3 *ngIf="!isExcluir()">
      <botao-salvar (click)="salvar()"></botao-salvar>
    </col-sm-3>

    <col-sm-3 *ngIf="isExcluir()">
      <botao-excluir (click)="excluir()"></botao-excluir>
    </col-sm-3>

    <col-sm-3>
      <botao-voltar (click)="voltar()"></botao-voltar>
    </col-sm-3>
  </row>
</panel>
