<panel titulo="Cadastro de Lançamentos" id="panel-cadastro">
  <row>
    <select-group width="4" label="Categoria" help="Informe a categoria de lançamento" [(ngModel)]="vo.categoria.id" [options]="itensCategoria" id="categoria" [disabled]="isExcluir()"></select-group>

    <select-group width="4" label="Funcionário" help="Informe a funcionário de lançamento" [(ngModel)]="vo.funcionario.id" [options]="itensFuncionario" id="funcionario" [disabled]="isExcluir()"></select-group>

    <input-group width="2" label="Data de referênciax" help="Informe a data de referência deste lançamento" [(ngModel)]="vo.dataFinal" id="dataInicial" [disabled]="isExcluir()" type="date"></input-group>
    <input-group width="2" label="Valor do lançamento" help="Informe o valor do lançamento" [(ngModel)]="vo.valorLancamento" id="valorLancamento" [disabled]="isExcluir()" type="money"></input-group>
  </row>

  <row>
      <textarea-group width="12" label="Observações" help="Observações gerais sobre o lançamento" [(ngModel)]="vo.observacoes" id="observacoes" [disabled]="isExcluir()"></textarea-group>
  </row>

  <row>
    <col-sm-6></col-sm-6>
    <col-sm-3 *ngIf="!isExcluir()">
      <botao-salvar (click)="salvar()"></botao-salvar>
    </col-sm-3>

    <col-sm-3 *ngIf="isExcluir()">
      <botao-excluir (click)="excluir()"></botao-excluir>
    </col-sm-3>

    <col-sm-3>
      <botao-voltar (click)="voltar()"></botao-voltar>
    </col-sm-3>
  </row>
</panel>
