<panel titulo="Consulta de Prestação de contas">
  <row>
    <input-group width="3" label="Número do lançamento" help="Pesquise pelo número do lançamento" [(ngModel)]="filtro.sequencial" (ngModelChange)="pesquisar()" id="projeto_nome"></input-group>
    <select-group width="2" label="Categoria" help="Pesquise pela categoria" [(ngModel)]="filtro.categoria$id" (ngModelChange)="pesquisar()" [options]="itensCategoria"></select-group>
    <select-group width="2" label="Crédito / Débito" help="Pesquise pela tipo de lançamento" [(ngModel)]="filtro.tipoLancamento" (ngModelChange)="pesquisar()" [options]="itensTipo"></select-group>

    <col-sm-2>
      <botao-pesquisar [marginTop]="25" (click)="pesquisar()"></botao-pesquisar>
    </col-sm-2>

    <col-sm-2>
      <botao-limpar-pesquisa [marginTop]="25" (click)="limpar()"></botao-limpar-pesquisa>
    </col-sm-2>
  </row>

  <row>
    <col-sm-12>
      <dt-data-table #dt [total]="dados?.total" [data]="dados?.lista" [paginated]="true" (onPaginate)="paginacao($event)" keyEvents="true">
        <column width="1" header="Número" useTemplate="true">
          <ng-template let-lancamento="data" let-index="index">
            {{ lancamento.sequencial | padding:'0':6 }}
          </ng-template>
        </column>
        <column width="3" field="funcionario.nome" header="Funcionário"></column>
        <column width="1" field="categoria.nome" header="Categoria"></column>
        <column width="1" field="dataReferencia" header="Data"></column>
        <column width="2" field="tipoLancamento" header="Crédito / Débito"></column>
        <column width="2" alignment="right" alignmentHeader="right" field="valorLancamento" header="Valor"></column>

        <buttons-right>
          <col-sm-4>
            <botao-alterar [marginTop]="37" (click)="editar()"></botao-alterar>
          </col-sm-4>

          <col-sm-4>
            <botao-excluir [marginTop]="37" (click)="excluir()"></botao-excluir>
          </col-sm-4>

          <col-sm-4>
            <botao-novo [marginTop]="37" (click)="novo()"></botao-novo>
          </col-sm-4>

        </buttons-right>
      </dt-data-table>

    </col-sm-12>
  </row>
</panel>
