<panel titulo="Cadastro de Empresas" id="panel-cadastro">

  <row>
    <col-sm-9>
      <row>
        <input-group width="12" label="Nome da empresa" help="Informe o nome da empresa" [(ngModel)]="vo.nome" id="nome" [disabled]="isExcluir()"></input-group>
      </row>

      <row>
        <input-group width="12" label="Nome fantasia" help="Informe o nome fantasia da empresa" [(ngModel)]="vo.fantasia" id="fantasia" [disabled]="isExcluir()"></input-group>
      </row>

      <row>
        <select-group width="12" label="Centro de Custo" help="Informe o centro de custo deste setor" [(ngModel)]="vo.centroCusto.id" [options]="itensCentroCusto" id="centroCusto" [disabled]="isExcluir()"></select-group>
      </row>
    </col-sm-9>

    <col-sm-3>
      <div class="container-img-button">
        <img id="imgFoto" style="width: 100%; margin-bottom: 5px" [src]="getFoto()" class="img-thumbnail image" />
      </div>

      <div>
        <file-upload *ngIf="isPodeEditar()" [showFileNameInput]="false" allowedTypes="image/*" uploadButtonText="Enviar imagem" [(ngModel)]="vo.logo"></file-upload>
      </div>

    </col-sm-3>
  </row>

  <row>
    <col-sm-6></col-sm-6>

    <col-sm-3 *ngIf="!isExcluir()">
      <botao-salvar (click)="salvar()"></botao-salvar>
    </col-sm-3>

    <col-sm-3 *ngIf="isExcluir()">
      <botao-excluir (click)="excluir()"></botao-excluir>
    </col-sm-3>

    <col-sm-3>
      <botao-voltar (click)="voltar()"></botao-voltar>
    </col-sm-3>
  </row>
</panel>
