<ul class="pagination">
  <li>
    <a href="javascript:void(0);" (click)="first()" class="btn-move-left">
      <i class="fa fa-angle-double-left"></i>
    </a>
  </li>
  <li>
    <a href="javascript:void(0);" (click)="previous()" class="btn-move-left">
      <i class="fa fa-angle-left"></i>
    </a>
  </li>

  <li *ngFor="let i of getItens()" [ngClass]="{'active' : current == i}">
    <a href="javascript:void(0);" (click)="setCurrent(i)"> {{ i }}</a>
  </li>

  <li>
    <a href="javascript:void(0);" (click)="next()" class="btn-move-right">
      <i class="fa fa-angle-right"></i>
    </a>
  </li>
  <li>
    <a href="javascript:void(0);" (click)="last()" class="btn-move-right">
      <i class="fa fa-angle-double-right"></i>
    </a>
  </li>
</ul>
