<panel titulo="Cadastro de Projetos" id="panel-cadastro">
  <row>
    <input-group width="8" label="Nome do projeto" help="Informe o nome do projeto" [(ngModel)]="vo.nome" id="nome" [disabled]="isExcluir()"></input-group>
    <select-group width="4" label="Status" help="Informe o status" [(ngModel)]="vo.status" [options]="itensStatus" id="status" [disabled]="isExcluir()"></select-group>
  </row>

  <row>
    <input-group width="2" label="Valor do projeto" help="Valor do projeto" [(ngModel)]="vo.valor" id="valor" [disabled]="isExcluir()" type="money"></input-group>
    <input-group width="2" label="% Limite alerta de gastos" help="% de Limite de alerta de gastos para o projeto" [(ngModel)]="vo.percentualAlertaGastos" id="percentualAlertaGastos" [disabled]="isExcluir()" type="percent"></input-group>
    <input-group width="2" label="% Limite de gastos" help="% de Limite de gastos para o projeto" [(ngModel)]="vo.percentualLimiteGastos" id="percentualLimiteGastos" [disabled]="isExcluir()" type="percent"></input-group>
    <select-group width="6" label="Centro de Custo" help="Informe o centro de custo deste setor" [(ngModel)]="vo.centroCusto.id" [options]="itensCentroCusto" id="centroCusto" [disabled]="isExcluir()"></select-group>

  </row>

  <row>
    <col-sm-12>
      <h3 class="page-header">Clientes</h3>
    </col-sm-12>
  </row>
  <row>
    <col-sm-6>
      <div class="panel panel-primary">
        <div class="panel-heading">Lista de clientes - Clique em um cliente para adicionar</div>

        <div class="list-group">
          <a class="list-group-item" *ngFor="let cliente of getClientesNaoSelecionados()" (click)="adicionarCliente(cliente)">{{ cliente.nome }}</a>
        </div>
      </div>
    </col-sm-6>

    <col-sm-6>
      <div class="panel panel-primary">
        <div class="panel-heading">Clientes Selecionados - Clique para remover da lista</div>

        <div class="list-group">
          <a class="list-group-item" *ngFor="let cliente of vo.clientes" (click)="removerCliente(cliente)">{{ cliente.nome }}</a>
        </div>
      </div>
    </col-sm-6>
  </row>

  <row>
    <col-sm-6></col-sm-6>

    <col-sm-3 *ngIf="!isExcluir()">
      <botao-salvar (click)="salvar()"></botao-salvar>
    </col-sm-3>

    <col-sm-3 *ngIf="isExcluir()">
      <botao-excluir (click)="excluir()"></botao-excluir>
    </col-sm-3>

    <col-sm-3>
      <botao-voltar (click)="voltar()"></botao-voltar>
    </col-sm-3>
  </row>
</panel>
