<panel titulo="Cadastro de Clientes" id="panel-cadastro">
  <row>
    <input-group width="8" label="Nome do cliente" help="Informe o nome do cliente" [(ngModel)]="vo.nome" id="nome" [disabled]="isExcluir()"></input-group>
    <select-group width="4" label="Status" help="Informe o status" [(ngModel)]="vo.status" [options]="itensStatus" id="status" [disabled]="isExcluir()"></select-group>
  </row>

  <row>
    <input-group width="6" label="Cidade do cliente" help="Informe a cidade do cliente" [(ngModel)]="vo.cidade" id="cidade" [disabled]="isExcluir()"></input-group>
    <input-group width="2" label="UF do cliente" help="Informe o estado do cliente" [(ngModel)]="vo.uf" id="uf" [disabled]="isExcluir()"></input-group>
    <select-group width="4" label="Centro de Custo" help="Informe o centro de custo deste setor" [(ngModel)]="vo.centroCusto.id" [options]="itensCentroCusto" id="centroCusto" [disabled]="isExcluir()"></select-group>
  </row>

  <row>
    <textarea-group id="observacoes" width="12" label="Observações" [(ngModel)]="vo.observacoes"></textarea-group>
  </row>

  <row>
    <col-sm-6></col-sm-6>

    <col-sm-3 *ngIf="!isExcluir()">
      <botao-salvar (click)="salvar()"></botao-salvar>
    </col-sm-3>

    <col-sm-3 *ngIf="isExcluir()">
      <botao-excluir (click)="excluir()"></botao-excluir>
    </col-sm-3>

    <col-sm-3>
      <botao-voltar (click)="voltar()"></botao-voltar>
    </col-sm-3>
  </row>
</panel>
