<panel titulo="Cadastro de Funcionários" id="panel-cadastro">
  <row>
    <input-group width="6" label="Nome do Funcionário" help="Informe o nome do funcionário" [(ngModel)]="vo.nome" id="nome" [disabled]="isExcluir()"></input-group>
    <input-group width="6" label="Email do Funcionário" help="Informe o email do funcionário" [(ngModel)]="vo.email" id="email" [disabled]="isExcluir()" type="email"></input-group>
  </row>

  <row>
    <select-group width="6" label="Filial" help="Informe a qual filial pertence este setor" [(ngModel)]="vo.filial.id" [options]="itensFilial" id="filial" [disabled]="isExcluir()"></select-group>
    <select-group width="6" label="Centro de Custo" help="Informe o centro de custo deste setor" [(ngModel)]="vo.centroCusto.id" [options]="itensCentroCusto" id="centroCusto" [disabled]="isExcluir()"></select-group>
  </row>

  <row>
    <input-group width="3" label="Celular do Funcionário" help="Informe o Celular do funcionário" [(ngModel)]="vo.celular" id="celular" [disabled]="isExcluir()" type="mobile"></input-group>
    <select-group width="3" label="Status" help="Informe o status" [(ngModel)]="vo.status" [options]="itensStatus" id="status" [disabled]="isExcluir()"></select-group>
    <select-group width="3" label="Resetar senha" help="Resetar a senha do funcionário na próxima sessão" [(ngModel)]="vo.resetarSenha" [options]="itensSimNao" id="resetarSenha" [disabled]="isExcluir()"></select-group>
  </row>

  <row>
    <select-group width="3" label="Setor" help="Setor do funcionário" [(ngModel)]="vo.setor.id" [options]="itensSetor" id="setor" [disabled]="isExcluir()"></select-group>
    <select-group width="3" label="Perfil de acesso" help="Perfil de acesso do funcionário" [(ngModel)]="vo.perfil.id" [options]="itensPerfil" id="perfil" [disabled]="isExcluir()"></select-group>
    <input-group width="3" label="Senha do Funcionário" help="Informe a senha do funcionário" [(ngModel)]="vo.senha" id="senha" [disabled]="isExcluir()" type="password"></input-group>
    <input-group width="3" label="Confirmar Senha do Funcionário" help="Informe a confirmação de senha do funcionário" [(ngModel)]="vo.confirmacaoSenha" id="confirmacaoSenha" [disabled]="isExcluir()" type="password"></input-group>
  </row>

  <row>
    <col-sm-6></col-sm-6>

    <col-sm-3 *ngIf="!isExcluir()">
      <botao-salvar (click)="salvar()"></botao-salvar>
    </col-sm-3>

    <col-sm-3 *ngIf="isExcluir()">
      <botao-excluir (click)="excluir()"></botao-excluir>
    </col-sm-3>

    <col-sm-3>
      <botao-voltar (click)="voltar()"></botao-voltar>
    </col-sm-3>
  </row>
</panel>
