<panel titulo="Consulta de Empresas">
  <row>
    <input-group width="4" label="Nome da empresa" help="Pesquise pelo nome da empresa" [(ngModel)]="filtro.nome" (ngModelChange)="pesquisar()" id="nome"></input-group>

    <col-sm-3>
      <botao-pesquisar [marginTop]="25" (click)="pesquisar()"></botao-pesquisar>
    </col-sm-3>

    <col-sm-3>
      <botao-limpar-pesquisa [marginTop]="25" (click)="limpar()"></botao-limpar-pesquisa>
    </col-sm-3>
  </row>

  <row>
    <col-sm-12>

      <dt-data-table #dt [total]="dados?.total" [data]="dados?.lista" [paginated]="true" (onPaginate)="paginacao($event)" keyEvents="true">
        <column width="4" field="nome" header="Nome da empresa"></column>
        <column width="4" field="fantasia" header="Nome fantasia"></column>

        <column width="4" field="centroCusto.nome" header="Centro de Custo" useTemplate="true">
          <ng-template let-setor="data">
            <ng-template [ngIf]="setor.centroCusto">
              {{ setor.centroCusto.codigo }} - {{ setor.centroCusto.nome }}
            </ng-template>
          </ng-template>
        </column>

        <buttons-right>
          <col-sm-4>
            <botao-alterar [marginTop]="37" (click)="editar()"></botao-alterar>
          </col-sm-4>

          <col-sm-4>
            <botao-excluir [marginTop]="37" (click)="excluir()"></botao-excluir>
          </col-sm-4>

          <col-sm-4>
            <botao-novo [marginTop]="37" (click)="novo()"></botao-novo>
          </col-sm-4>

        </buttons-right>
      </dt-data-table>

    </col-sm-12>
  </row>
</panel>
