@import "../../../../.../../../colors";
.link-nfe {
  color: $cor-azul-background;
}

.link-nfe:hover {
  color: $cor-azul-clara;
}

.valor-a-mais {
  color: blue;
}

.valor-a-menos {
  color: red;
}
