<panel titulo="Relatório de Viagem" id="panel-cadastro">
  <row>
    <input-disabled width="3" label="Número" text="{{ vo.sequencial | padding:'0':6 }}" id="sequencial"></input-disabled>
    <input-disabled width="3" label="Data hora de cadastro" text="{{ vo.fechamento.dataHoraCadastro }}" id="dataHoraCadastro"></input-disabled>
    <input-disabled width="3" label="Data hora de fechamento" text="{{ vo.fechamento.dataHoraEnviado }}" id="dataHoraEnviado"></input-disabled>
    <input-disabled width="3" label="Status" text="{{ vo.status }}" id="status"></input-disabled>
  </row>

  <row>
    <input-disabled width="3" label="Saldo Anterior" text="{{ vo.fechamento.saldoAnterior | currency:'BRL':true }}" id="sequencial"></input-disabled>
    <input-disabled width="3" label="Total créditos" text="{{ vo.fechamento.totalCreditos | currency:'BRL':true }}" id="sequencial"></input-disabled>
    <input-disabled width="3" label="Total débitos" text="{{ vo.fechamento.totalDebitos | currency:'BRL':true }}" id="sequencial"></input-disabled>
    <input-disabled width="3" label="Saldo Final" text="{{ vo.fechamento.saldoFinal | currency:'BRL':true }}" id="sequencial"></input-disabled>
  </row>

  <!-- Dados da rejeicao -->
  <ng-template [ngIf]="isRejeitado()">
    <strong>Dados da Rejeição</strong>
    <hr/>

    <row>

      <col-sm-4>
        <row>
          <input-disabled width="12" label="Rejeitado por" text="{{ vo.fechamento.funcionarioRejeicao?.nome }}" disabled="true"></input-disabled>
        </row>

        <row>
          <input-disabled width="12" label="Data / hora rejeitado" text="{{ vo.fechamento.dataHoraRejeicao }}" disabled="true"></input-disabled>
        </row>
      </col-sm-4>

      <col-sm-8>
        <row>
          <textarea-group width="12" label="Motivo rejeição" [(ngModel)]="vo.fechamento.motivoRejeicao" disabled="true"></textarea-group>
        </row>
      </col-sm-8>

    </row>
  </ng-template>


  <!-- Dados da aprovação -->
  <ng-template [ngIf]="isAprovado()">
    <strong>Dados da Aprovação</strong>
    <hr/>
    <row>
      <input-disabled width="8" label="Aprovado por" text="{{ vo.fechamento.funcionarioAprovacao?.nome }}"></input-disabled>
      <input-disabled width="4" label="Data / hora aprovação" text="{{ vo.fechamento.dataHoraAprovacao }}"></input-disabled>
    </row>
  </ng-template>

  <hr/>

  <row>
    <col-sm-12>
      <div class="list-group">
        <ng-template ngFor let-lancamento="$implicit" let-i="index" [ngForOf]="vo.lancamentos | orderBy: 'sequencial'">
          <row>
            <a href="javascript:void(0)" class="list-group-item left clearfix">
              <h4 class="list-group-item-heading">

                <strong>{{ lancamento.sequencial | padding:'0':6 }}</strong> -
                <strong [ngClass]="[lancamento.tipoLancamento == 'Débito' ? 'text-danger': 'text-primary']">{{ lancamento.tipoLancamento }}</strong> - {{ lancamento.categoria.nome }} - {{ lancamento.valorLancamento | currency:'BRL':true }}

                <strong *ngIf="lancamento.valorGlosa && lancamento.valorGlosa != 0" [ngClass]="[lancamento.valorGlosa < 0 ? 'text-danger' : 'text-primary']">
                  | Glosa ({{ lancamento.valorGlosa
                  < 0 ? 'A menos' : 'A mais' }}): {{ lancamento.valorGlosa | currency: 'BRL':true}} </strong>

                    <strong *ngIf="lancamento.valorGlosa && lancamento.valorGlosa != 0">
                      | Valor Original : {{ lancamento.valorOriginal | currency : 'BRL': true }}
                    </strong>

                    <small class="pull-right text-muted">
                      <i class="fa fa-calendar-check-o"></i>

                      <ng-template [ngIf]="lancamento.tipoPeriodo != 'Período'">
                        {{ lancamento.dataInicial }}
                      </ng-template>

                      <ng-template [ngIf]="lancamento.tipoPeriodo == 'Período'">
                        {{ lancamento.dataInicial }} à {{ lancamento.dataFinal }}
                      </ng-template>

                    </small>
              </h4>

              <p class="list-group-item-text">
                <ng-container *ngIf="lancamento.recibo; else semRecibo">
                  <row>
                    <col-sm-2>
                      Recibo: {{ lancamento.recibo?.numeroDocumento }}
                    </col-sm-2>

                    <col-sm-2>
                      Data Recibo: {{ lancamento.recibo?.dataReferencia }}
                    </col-sm-2>

                    <col-sm-2>
                      Valor Recibo: {{ lancamento.recibo?.valor | currency:'BRL':true }}
                    </col-sm-2>

                    <col-sm-2>
                      <button class="btn btn-primary btn-sm btn-block" (click)="exibirRecibo(lancamento)">
                        <i class="fa fa-picture-o" aria-hidden="true"></i>
                        Exibir recibo
                      </button>
                    </col-sm-2>

                    <col-sm-2></col-sm-2>

                    <col-sm-2>
                      <button class="btn btn-sm btn-block" (click)="glosa(lancamento)" *ngIf="isPodeFazerGlosa(lancamento)">
                        <i class="fa fa-scissors" aria-hidden="true"></i>
                        Glosa
                      </button>
                    </col-sm-2>
                  </row>

                </ng-container>

                <ng-template #semRecibo>
                  <row>
                    <col-sm-10>
                      Sem recibo declarado.
                    </col-sm-10>
                    <col-sm-2>
                      <button class="btn btn-sm btn-block" (click)="glosa(lancamento)" *ngIf="isPodeFazerGlosa(lancamento)">
                        <i class="fa fa-scissors" aria-hidden="true"></i>
                        Glosa
                      </button>
                    </col-sm-2>
                  </row>
                </ng-template>
              </p>
            </a>
          </row>
        </ng-template>
      </div>
    </col-sm-12>
  </row>

  <row>
    <col-sm-4></col-sm-4>

    <col-sm-2>
      <botao-salvar *ngIf="!isExcluir() && !isFinalizado()" (click)="salvar()"></botao-salvar>
    </col-sm-2>

    <col-sm-2 *ngIf="!isExcluir() && !isFinalizado()">
      <button class="btn btn-primary btn-fill btn-wd btn-magnify btn-block" type="button" (click)="aprovar()" *ngIf="isHabilitadoAprovarRejeitar()">
        <i class="fa fa-check"></i> Aprovar</button>
    </col-sm-2>

    <col-sm-2 *ngIf="!isExcluir() && !isFinalizado()">
      <button class="btn btn-primary btn-fill btn-wd btn-magnify btn-block" type="button" (click)="rejeitar()" *ngIf="isHabilitadoAprovarRejeitar()">
        <i class="fa fa-ban"></i> Rejeitar</button>
    </col-sm-2>

    <col-sm-4 *ngIf="isFinalizado()"></col-sm-4>

    <col-sm-2>
      <botao-voltar (click)="voltar()"></botao-voltar>
    </col-sm-2>

  </row>
</panel>

<!-- Modal do recibo -->
<app-modal modal-id="reciboModal" #reciboModal title="Recibo">
  <row>
    <col-sm-4>
      Recibo:
      <strong> {{ reciboSelecionado?.numeroDocumento }}</strong>
    </col-sm-4>

    <col-sm-4>
      Data Recibo:
      <strong> {{ reciboSelecionado?.dataReferencia }}</strong>
    </col-sm-4>

    <col-sm-4>
      Valor Recibo:
      <strong> {{ reciboSelecionado?.valor | currency:'BRL':true }}</strong>
    </col-sm-4>
  </row>

  <row>
    <col-sm-8>
      Incluído por:
      <strong> {{ reciboSelecionado?.funcionario?.nome }}</strong>
    </col-sm-8>

    <col-sm-4>
      Em:
      <strong> {{ reciboSelecionado?.dataInserido }}</strong>
    </col-sm-4>
  </row>

  <row>
    <col-sm-12>
      Fornecedor:
      <strong> {{ reciboSelecionado?.nomeFornecedor }}</strong>
    </col-sm-12>
  </row>

  <row>
    <col-sm-12>
      Chave Nf-e / NFC-e:

      <a *ngIf="isUrl(reciboSelecionado)" class="link-nfe" target="_blank" href="{{ reciboSelecionado?.urlNfe }}">
        <strong> {{ reciboSelecionado?.chaveNfe }}</strong>
      </a>

      <a *ngIf="!isUrl(reciboSelecionado)" class="link-nfe" target="_blank" href="{{ getUrlAlternativa(reciboSelecionado) }}/">
        <strong> {{ reciboSelecionado?.chaveNfe }}</strong>
      </a>

      <strong *ngIf="!reciboSelecionado.urlNfe"> {{ reciboSelecionado?.chaveNfe }}</strong>

    </col-sm-12>
  </row>

  <hr/>

  <row>
    <col-sm-12>
      <img *ngIf="reciboSelecionado.fotoAnexoRecibo" src="{{ reciboSelecionado.fotoAnexoRecibo }}" alt="Foto do recibo" class="img-responsive">
      <span *ngIf="!reciboSelecionado.fotoAnexoRecibo">Sem imagem do recibo</span>
    </col-sm-12>
  </row>

  <row class="footer-modal">
    <col-sm-12>
      <button class="btn btn-block" data-dismiss="modal">
        <i class="fa fa-close" aria-hidden="true"></i>
        Fechar</button>
    </col-sm-12>
  </row>
</app-modal>

<!-- Modal Glosa -->
<app-modal modal-id="modalGlosa" #modalGlosa title="Glosa">

  <row>
    <input-disabled width="6" label="Valor Original" text="{{ lancamentoSelecionado.valorOriginal | currency:'BRL':true }}" id="valorOriginalX"></input-disabled>

    <input-disabled width="6" [ngClass]="{'text-primary': lancamentoSelecionado.valorGlosa > 0 , 'text-danger': lancamentoSelecionado.valorGlosa < 0 }" label="Valor Glosa {{ lancamentoSelecionado.valorGlosa > 0 ? '(A mais)' : lancamentoSelecionado.valorGlosa < 0 ? '(A menos)':'' }}" text="{{ lancamentoSelecionado.valorGlosa | currency:'BRL':true }}"
      id="valorGlosaX"></input-disabled>
  </row>

  <row>
    <input-group width="6" id="valorLancamentoStringX" [(ngModel)]="lancamentoSelecionado.valorLancamentoString" (ngModelChange)="calcularValorGlosa(lancamentoSelecionado)" label="Ajustar Valor" type="money"></input-group>
    <col-sm-6>
      <button [style.marginTop.px]="25" class="btn btn-block" (click)="restaurarValorOriginal(lancamentoSelecionado)">
        <i class="fa fa-history" aria-hidden="true"></i>
        Restaurar valor original
      </button>
    </col-sm-6>
  </row>

  <row>
    <textarea-group label="Motivo da glosa" width="12" id="observacoesGlosa" [(ngModel)]="lancamentoSelecionado.observacoesGlosa"></textarea-group>
  </row>

  <row class="footer-modal">
    <col-sm-6>
      <button class="btn btn-block" (click)="confirmarGlosa(lancamentoSelecionado)">
        <i class="fa fa-check" aria-hidden="true"></i>
        Confirmar
      </button>
    </col-sm-6>
    <col-sm-6>
      <button class="btn btn-block" data-dismiss="modal">
        <i class="fa fa-close" aria-hidden="true"></i>
        Fechar
      </button>
    </col-sm-6>
  </row>
</app-modal>

<!-- Modal selecionar destino -->
<app-modal modal-id="modalSelecionarDestino" #modalSelecionarDestino title="Confirmação">
  <row>
    <col-sm-12>
      <h3> O saldo desta viagem é de
        <strong [ngClass]="{'text-primary': vo.fechamento.saldoFinal >= 0 , 'text-danger':  vo.fechamento.saldoFinal < 0 }">{{ vo.fechamento.saldoFinal | currency:'BRL':true}}</strong>. Escolha uma opção para o que fazer com o saldo.
      </h3>
    </col-sm-12>
  </row>

  <hr/>
  <row *ngFor="let item of itensDestinoSaldo; let i = index" class="linha-item-aprovacao">
    <col-sm-10>
      <button class="btn btn-block" (click)="confirmarAprovar(item.value)">
        <!-- <i class="fa fa-usd" aria-hidden="true"></i> -->
        {{ item.label }}
      </button>
    </col-sm-10>

    <col-sm-2>
      <!-- [attr.data-trigger]="'focus'" -->
      <button id="btn-help-{{ i }}" class="btn btn-block" (click)="ajuda('btn-help-' + i)" [attr.data-title]="'Ajuda para ' + item.label" [attr.data-placement]="'top'" [attr.data-content]="item.help" [attr.data-trigger]="'focus'">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </button>
    </col-sm-2>
    <hr/>
  </row>

  <row class="footer-modal">
    <col-sm-6></col-sm-6>
    <col-sm-6>
      <button class="btn btn-block" data-dismiss="modal">
        <i class="fa fa-close" aria-hidden="true"></i>
        Cancelar
      </button>
    </col-sm-6>
  </row>
</app-modal>

<!-- Modal motivo rejeição -->
<app-modal modal-id="myModal" #modalMotivoRejeicao title="Rejeição do relatório de viagens">
  <row>
    <textarea-group width="12" [(ngModel)]="vo.fechamento.motivoRejeicao" label="Informe o motivo da rejeição" id="fechamento_motivoRejeicao"></textarea-group>
  </row>
  <row class="footer-modal">

    <col-sm-6>
      <button class="btn btn-primary btn-block" (click)="confirmarRejeicao()" data-dismiss="modal">
        <i class="fa fa-check" aria-hidden="true"></i>
        Confirmar Rejeição</button>
    </col-sm-6>

    <col-sm-6>
      <button class="btn btn-info btn-block" data-dismiss="modal">
        <i class="fa fa-ban" aria-hidden="true"></i>
        Cancelar
      </button>
    </col-sm-6>
  </row>
</app-modal>
