<panel titulo="Consulta de Políticas de viagem">
  <row>
    <input-group width="2" label="Nome da política" help="Pesquise pelo nome da política" [(ngModel)]="filtro.nome" (ngModelChange)="pesquisar()" id="nome"></input-group>
    <select-group width="2" label="Status" help="Pesquise pelo status" [(ngModel)]="filtro.status" (ngModelChange)="pesquisar()" [options]="itensStatus"></select-group>

    <col-sm-3>
      <botao-pesquisar [marginTop]="25" (click)="pesquisar()"></botao-pesquisar>
    </col-sm-3>

    <col-sm-3>
      <botao-limpar-pesquisa [marginTop]="25" (click)="limpar()"></botao-limpar-pesquisa>
    </col-sm-3>
  </row>

  <row>
    <col-sm-12>

      <dt-data-table #dt [total]="dados?.total" [data]="dados?.lista" [paginated]="true" (onPaginate)="paginacao($event)" keyEvents="true">
        <column width="8" field="nome" header="Nome da política"></column>
        <column width="4" field="status" header="Ativo"></column>

        <buttons-right>
          <col-sm-4>
            <botao-alterar [marginTop]="37" (click)="editar()"></botao-alterar>
          </col-sm-4>

          <col-sm-4>
            <botao-excluir [marginTop]="37" (click)="excluir()"></botao-excluir>
          </col-sm-4>

          <col-sm-4>
            <botao-novo [marginTop]="37" (click)="novo()"></botao-novo>
          </col-sm-4>

        </buttons-right>
      </dt-data-table>

    </col-sm-12>
  </row>
</panel>
