<div class="modal fade" id="{{ componentId }}" tabindex="-1" role="dialog">
  <div class="modal-dialog {{ getLargeClass() }}" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{ getTitulo() }}</h4>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer">
        <ng-content select=".footer-modal"></ng-content>
      </div>
    </div>
  </div>
</div>
