<panel id="panel-cadastro">
  <row>
    <col-sm-9>
      <h3>
        {{ vo.sequencial | padding:'0':6 }} - {{ vo.descricao }}
      </h3>
    </col-sm-9>
    <col-sm-3>
      <h3 class="text-right">
        Saldo: {{ vo.fechamento.saldoFinal | currency:'BRL':true }}
      </h3>
    </col-sm-3>
  </row>

  <row>
    <col-sm-12>
      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#dados-viagem" data-toggle="tab" id="a-dados-viagem">Dados da viagem</a>
        </li>
        <li>
          <a href="#lancamentos" data-toggle="tab" id="a-lancamentos" *ngIf="!isNovo()">Lançamentos</a>
        </li>
        <li>
          <a href="#relatorio-viagem" data-toggle="tab" id="a-relatorio-viagem" *ngIf="!isNovo()">Relatório de Viagem</a>
        </li>
      </ul>

      <div class="tab-content">
        <!-- Tab 1 - Dados da viagem -->
        <div class="tab-pane fade in active" id="dados-viagem">

          <panel color="default">
            <row>
              <input-group width="8" label="Descrição" help="Informe uma descrição para a viagem" [(ngModel)]="vo.descricao" id="descricao" [disabled]="!isPodeEditar()"></input-group>
              <input-disabled width="4" label="Status" text="{{ vo.status }}" id="status"></input-disabled>
            </row>

            <row>
              <textarea-group width="6" label="Objetivo" help="Informe o objetivo da viagem" [(ngModel)]="vo.objetivo" id="objetivo" [disabled]="!isPodeEditar()" max="500"></textarea-group>
              <textarea-group width="6" label="Observações" help="Informe observações gerais sobre a viagem" [(ngModel)]="vo.observacao" id="observacao" [disabled]="!isPodeEditar()"></textarea-group>
            </row>

            <row>
              <select-group width="6" label="Cliente" help="Informe o cliente para o custo da viagem" [(ngModel)]="vo.cliente.id" [options]="itensCliente" id="cliente" [disabled]="!isPodeEditar()"></select-group>
              <select-group width="6" label="Projeto" help="Informe o projeto para o custo da viagem" [(ngModel)]="vo.projeto.id" [options]="itensProjeto" id="projeto" [disabled]="!isPodeEditar()"></select-group>
            </row>

            <row>
              <input-group width="3" label="Data Ida" help="Informe a data de ida" [(ngModel)]="vo.dataIda" id="dataIda" [disabled]="!isPodeEditar()" type="date"></input-group>
              <input-group width="3" label="Data Volta" help="Informe a data de volta" [(ngModel)]="vo.dataVolta" id="dataVolta" [disabled]="!isPodeEditar()" type="date"></input-group>
            </row>
          </panel>

          <row>
            <col-sm-6></col-sm-6>

            <col-sm-2>
              <button class="btn btn-block btn-fill btn-wd" (click)="avancarParaLancamentos()" *ngIf="!isExcluir()">
                Avançar
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </button>
            </col-sm-2>

            <col-sm-2>
              <botao-salvar (click)="salvar()" *ngIf="isPodeEditar()"></botao-salvar>
              <botao-excluir (click)="excluir()" *ngIf="isExcluir()"></botao-excluir>
            </col-sm-2>

            <col-sm-2>
              <botao-voltar (click)="voltar()"></botao-voltar>
            </col-sm-2>
          </row>
        </div>

        <!-- Tab 2 - Lançamentos -->
        <div class="tab-pane fade" id="lancamentos">
          <panel color="default" [maxHeight]="420" [minHeight]="420" id="panel-lancamentos">
            <row>
              <col-sm-1>
                <label (click)="toogleSort('sequencial')">Número

                  <i *ngIf="sortByField=='sequencial' && !sortByDesc" class="fa fa-angle-up" aria-hidden="true"></i>
                  <i *ngIf="sortByField=='sequencial' && sortByDesc" class="fa fa-angle-down" aria-hidden="true"></i>

                </label>
              </col-sm-1>
              <col-sm-3>
                <label (click)="toogleSort('categoria.nome')">Categoria

                  <i *ngIf="sortByField=='categoria.nome' && !sortByDesc" class="fa fa-angle-up" aria-hidden="true"></i>
                  <i *ngIf="sortByField=='categoria.nome' && sortByDesc" class="fa fa-angle-down" aria-hidden="true"></i>

                </label>
              </col-sm-3>

              <col-sm-4>
                <label (click)="toogleSort('dataInicial')">Data (Período ou data de referência)

                  <i *ngIf="sortByField=='dataInicial' && !sortByDesc" class="fa fa-angle-up" aria-hidden="true"></i>
                  <i *ngIf="sortByField=='dataInicial' && sortByDesc" class="fa fa-angle-down" aria-hidden="true"></i>

                </label>
              </col-sm-4>
              <col-sm-2>
                <label (click)="toogleSort('valorLancamento')">Valor

                  <i *ngIf="sortByField=='valorLancamento' && !sortByDesc" class="fa fa-angle-up" aria-hidden="true"></i>
                  <i *ngIf="sortByField=='valorLancamento' && sortByDesc" class="fa fa-angle-down" aria-hidden="true"></i>
                </label>
              </col-sm-2>
            </row>

            <ng-template ngFor let-lancamento [ngForOf]="vo.lancamentos | orderBy: sortByField : sortByDesc" let-i="index">
              <row *ngIf="getCategoria(lancamento.categoria.id).interna == 'Sim'">
                <input-disabled width="1" text="{{ lancamento.sequencial | padding:'0':3 }}" id="sequencial"></input-disabled>
                <input-disabled width="2" text="{{ lancamento.categoria.nome}}" id="sequencial"></input-disabled>
                <col-sm-1></col-sm-1>
                <input-disabled width="4" *ngIf="lancamento.tipoPeriodo == 'Data de Referência'" id="dataInicialR_{{i}}" text="{{ lancamento.dataInicial }}"></input-disabled>
                <input-disabled width="2" *ngIf="lancamento.tipoPeriodo == 'Período'" id="dataInicial_{{i}}" text="{{ lancamento.dataInicial }}"></input-disabled>
                <input-disabled width="2" *ngIf="lancamento.tipoPeriodo == 'Período'" id="dataFinal_{{i}}" text="{{ lancamento.dataFinal }}"></input-disabled>

                <input-disabled width="2" text="{{ lancamento.valorLancamento | currency:'BRL':true }}" id="valorLancamento_{{i}}"></input-disabled>
              </row>

              <row *ngIf="!getCategoria(lancamento.categoria.id) || !getCategoria(lancamento.categoria.id).interna || getCategoria(lancamento.categoria.id).interna == 'Não'">
                <input-disabled width="1" text="{{ lancamento.sequencial | padding:'0':3 }}" id="sequencial"></input-disabled>
                <select-group width="2" label="" help="Informe a categoria de lançamento" [(ngModel)]="lancamento.categoria.id" (ngModelChange)="calcularSaldos()" [options]="itensCategoria" id="categoria_{{i}}" [disabled]="!isPodeEditar()"></select-group>

                <col-sm-1>
                  <button class="btn btn-ico" (click)="mudarTipoData(lancamento)" data-toggle="tooltip" data-placement="bottom" title="Mudar o tipo de data - Data de Referência ou Período" [disabled]="!isPodeEditar()">
                    <i *ngIf="lancamento.tipoPeriodo == 'Data de Referência'" class="fa fa-toggle-off" aria-hidden="true"></i>
                    <i *ngIf="lancamento.tipoPeriodo == 'Período'" class="fa fa-toggle-on" aria-hidden="true"></i>
                  </button>
                </col-sm-1>

                <input-group width="4" *ngIf="lancamento.tipoPeriodo == 'Data de Referência'" label="" help="Informe a data de referência deste lançamento" [(ngModel)]="lancamento.dataInicial" id="dataInicialR_{{i}}" [disabled]="!isPodeEditar()" type="date"></input-group>
                <input-group width="2" *ngIf="lancamento.tipoPeriodo == 'Período'" label="" help="Informe a data inicial deste lançamento" [(ngModel)]="lancamento.dataInicial" id="dataInicial_{{i}}" [disabled]="!isPodeEditar()" type="date"></input-group>
                <input-group width="2" *ngIf="lancamento.tipoPeriodo == 'Período'" label="" help="Informe a data final deste lançamento" [(ngModel)]="lancamento.dataFinal" id="dataFinal_{{i}}" [disabled]="!isPodeEditar()" type="date"></input-group>
                <input-group width="2" label="" help="Informe o valor do lançamento" [(ngModel)]="lancamento.valorLancamentoString" (ngModelChange)="changeValorLancamento(lancamento)" id="valorLancamento_{{i}}" [disabled]="!isPodeEditar()" type="money"></input-group>

                <col-sm-2>
                  <button tabindex="-1" class="btn btn-ico btn-observacoes" id="btnObservacoes_{{lancamento.sequencial}}" (click)="observacoes(lancamento)" data-toggle="tooltip" data-placement="bottom" title="Clique para adicionar observações a este lançamento">
                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                  </button>

                  <button tabindex="-1" class="btn btn-ico btn-recibo" (click)="recibo(lancamento)" data-toggle="tooltip" data-placement="bottom" title="Clique para adicionar / alterar dados do recibo">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                  </button>

                  <button tabindex="-1" class="btn btn-ico" (click)="remover(lancamento)" data-toggle="tooltip" data-placement="bottom" title="Clique para remover este lançamento" [disabled]="!isPodeEditar()">
                    <i class="fa fa-trash"></i>
                  </button>
                </col-sm-2>
              </row>

              <row *ngIf="isShowObservacoes(lancamento)">
                <textarea-group id="observacoes_{{lancamento.sequencial}}" label="Observações" [(ngModel)]="lancamento.observacoes" width="10" [disabled]="!isPodeEditar()"></textarea-group>
              </row>

            </ng-template>
          </panel>

          <row>
            <col-sm-2></col-sm-2>

            <col-sm-2>
              <button class="btn btn-block" (click)="adicionar()" *ngIf="isPodeEditar()">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Adicionar</button>
            </col-sm-2>

            <col-sm-2>
              <button class="btn btn-block" (click)="voltarParaDadosGerais()" *ngIf="!isExcluir()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Voltar
              </button>
            </col-sm-2>

            <col-sm-2>
              <button class="btn btn-block" (click)="avancarParaFechamento()" *ngIf="!isExcluir()">
                Avançar
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </button>
            </col-sm-2>

            <col-sm-2>
              <botao-salvar (click)="salvar()" *ngIf="isPodeEditar()"></botao-salvar>
              <botao-excluir (click)="excluir()" *ngIf="isExcluir()"></botao-excluir>
            </col-sm-2>

            <col-sm-2>
              <botao-voltar (click)="voltar()"></botao-voltar>
            </col-sm-2>
          </row>
        </div>

        <!-- Tab 3 - Relatório de Viagem -->
        <div class="tab-pane fade" id="relatorio-viagem">
          <!-- Relatório de Viagem -->
          <panel id="panel-relatorio-viagem" minHeight="420">

            <iframe attr.data-relatorio-id="{{ vo.id }}?AUTHENTICATION_TOKEN={{ sessao.chaveSessao }}" id="frameRelatorio"></iframe>
            <!--
            <row>
              <input-disabled width="3" label="Número" text="{{ vo.sequencial | padding:'0':6 }}" id="sequencial"></input-disabled>
              <input-disabled width="3" label="Data hora de cadastro" text="{{ vo.fechamento.dataHoraCadastro }}" id="dataHoraCadastro"></input-disabled>
              <input-disabled width="3" label="Data hora de fechamento" text="{{ vo.fechamento.dataHoraEnviado }}" id="dataHoraEnviado"></input-disabled>
              <input-disabled width="3" label="Status" text="{{ vo.status }}" id="status"></input-disabled>
            </row>

            <row>
              <input-disabled width="3" label="Saldo Anterior" text="{{ vo.fechamento.saldoAnterior | currency:'BRL':true }}" id="sequencial"></input-disabled>
              <input-disabled width="3" label="Total créditos" text="{{ vo.fechamento.totalCreditos | currency:'BRL':true }}" id="sequencial"></input-disabled>
              <input-disabled width="3" label="Total débitos" text="{{ vo.fechamento.totalDebitos | currency:'BRL':true }}" id="sequencial"></input-disabled>
              <input-disabled width="3" label="Saldo Final" text="{{ vo.fechamento.saldoFinal | currency:'BRL':true }}" id="sequencial"></input-disabled>
            </row>
            -->
            <!-- Dados da rejeicao -->
            <!-- <ng-template [ngIf]="isRejeitado()">
              <strong>Dados da Rejeição</strong>
              <hr/>

              <row>

                <col-sm-4>
                  <row>
                    <input-disabled width="12" label="Rejeitado por" text="{{ vo.fechamento.funcionarioRejeicao?.nome }}" disabled="true"></input-disabled>
                  </row>

                  <row>
                    <input-disabled width="12" label="Data / hora rejeitado" text="{{ vo.fechamento.dataHoraRejeicao }}" disabled="true"></input-disabled>
                  </row>
                </col-sm-4>

                <col-sm-8>
                  <row>
                    <textarea-group width="12" label="Motivo rejeição" [(ngModel)]="vo.fechamento.motivoRejeicao" disabled="true"></textarea-group>
                  </row>
                </col-sm-8>

              </row>
            </ng-template> -->


            <!-- Dados da aprovação -->
            <!-- <ng-template [ngIf]="isAprovado()">
              <strong>Dados da Aprovação</strong>
              <hr/>
              <row>
                <input-disabled width="8" label="Aprovado por" text="{{ vo.fechamento.funcionarioAprovacao?.nome }}"></input-disabled>
                <input-disabled width="4" label="Data / hora aprovação" text="{{ vo.fechamento.dataHoraAprovacao }}"></input-disabled>
              </row>
            </ng-template> -->

          </panel>
          <row>
            <!-- <col-sm-2></col-sm-2> -->

            <col-sm-4>
              <button class="btn btn-block" (click)="visualizarPdf()">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                Visualizar o PDF em nova aba
              </button>
            </col-sm-4>

            <col-sm-2 *ngIf="!isExcluir()">
              <button class="btn btn-block" (click)="voltarParaLancamentos()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Voltar</button>
            </col-sm-2>

            <col-sm-4 *ngIf="!isPodeEditar()"></col-sm-4>

            <col-sm-2 *ngIf="isPodeEditar()">
              <button class="btn btn-block" (click)="finalizar()">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                Finalizar
              </button>
            </col-sm-2>

            <col-sm-2 *ngIf="isPodeEditar()">
              <botao-salvar (click)="salvar()"></botao-salvar>
            </col-sm-2>

            <col-sm-2 *ngIf="isExcluir()">
              <botao-excluir (click)="excluir()"></botao-excluir>
            </col-sm-2>

            <col-sm-2>
              <botao-voltar (click)="voltar()"></botao-voltar>
            </col-sm-2>
          </row>
        </div>
      </div>
    </col-sm-12>
  </row>
</panel>

<!-- Modal do recibo -->
<app-modal #reciboModal title="Recibo" large="true" modal="true">
  <row>
    <col-sm-9>
      <row>
        <input-group width="4" label="Data do Recibo / Nota / Comprovante" [(ngModel)]="reciboSelecionado.dataReferencia" id="recibo_dataReferencia" [disabled]="!isPodeEditar()"></input-group>
        <input-group width="4" label="Número do Recibo / Nota / Comprovante" [(ngModel)]="reciboSelecionado.numeroDocumento" id="recibo_numeroDocumento" [disabled]="!isPodeEditar()"></input-group>
        <input-group width="4" label="Valor do Recibo / Nota / Comprovante {{ reciboSelecionado.valor }}" [(ngModel)]="reciboSelecionado.valorString" (ngModelChange)="changeValorRecibo(reciboSelecionado)" id="recibo_valor" [disabled]="!isPodeEditar()" type="money"></input-group>
      </row>

      <row>
        <select-group width="4" label="Tipo" [options]="itensTipoFornecedor" [disabled]="!isPodeEditar()"></select-group>
        <!-- Cpf / Cnpj -->
        <input-group width="8" label="Cpf / Cnpj do fornecedor" [(ngModel)]="reciboSelecionado.cpfCnpjFornecedor" [disabled]="!isPodeEditar()"></input-group>
      </row>

      <row>
        <!-- Fornecedor -->
        <input-group width="8" label="Nome do fornecedor" [(ngModel)]="reciboSelecionado.nomeFornecedor" [disabled]="!isPodeEditar()"></input-group>

        <!-- Chave NFe -->
        <input-group width="4" [classLabel]="getClasseCaracteresNfe(reciboSelecionado)" label="Chave NFe {{ getCaracteresNfe(reciboSelecionado) }}" [(ngModel)]="reciboSelecionado.chaveNfe" [disabled]="!isPodeEditar()"></input-group>
      </row>

      <row>
        <!-- Chave NFe -->
        <input-group width="11" label="URL NFe" [(ngModel)]="reciboSelecionado.urlNfe" [disabled]="!isPodeEditar()"></input-group>
        <col-sm-1>
          <button class="btn btn-ico btn-abrirlink" data-toggle="tooltip" data-placement="bottom" title="Abrir link" (click)="abrirLinkNfe(reciboSelecionado)">
            <i class="fa fa-link" aria-hidden="true"></i>
          </button>
        </col-sm-1>
      </row>
    </col-sm-9>

    <col-sm-3>

      <div class="container-img-button">
        <img id="imgFoto" style="width: 100%; margin-bottom: 5px" [src]="getFoto(reciboSelecionado)" class="img-thumbnail image" />
      </div>
      <div>
        <file-upload *ngIf="isPodeEditar()" [showFileNameInput]="false" allowedTypes="image/*" uploadButtonText="Enviar imagem" [(ngModel)]="reciboSelecionado.fotoAnexoRecibo"></file-upload>
      </div>
    </col-sm-3>
  </row>

  <row class="footer-modal">
    <col-sm-4></col-sm-4>

    <col-sm-4 *ngIf="!isPodeEditar()"></col-sm-4>

    <col-sm-4 *ngIf="isPodeEditar()">
      <button class="btn btn-block" (click)="salvarRecibo()">
        <i class="fa fa-save" aria-hidden="true"></i>
        Salvar recibo
      </button>
    </col-sm-4>

    <col-sm-4>
      <button class="btn btn-block" data-dismiss="modal">
        <i class="fa fa-close" aria-hidden="true"></i>
        Fechar
      </button>
    </col-sm-4>
  </row>
</app-modal>
