<div class="col-sm-{{ width }}">
  <div class="form-group">
    <label *ngIf="label" class="{{ classLabel }}" for="internal_{{ componentId }} ">{{ label }}</label>

    <ng-template [ngIf]="getMask()">
      <input [textMask]="{ mask: getMask(), keepCharPositions : false, pipe : getPipe() }" [type]="getInputType()" class="form-control" id="{{getInternalComponentId()}}" name="{{getInternalComponentId()}}" [(ngModel)]="value" (blur)="onBlur()" (focus)="onFocus()" (ngModelChange)="changeModel()" [disabled]="disabled"
        [autofocus]="autoFocus" placeholder="{{help}}" />
    </ng-template>

    <ng-template [ngIf]="!getMask()">
      <input [type]="getInputType()" class="form-control" id="{{getInternalComponentId()}}" name="{{getInternalComponentId()}}" [(ngModel)]="value" (blur)="onBlur()" (focus)="onFocus()" (ngModelChange)="changeModel()" [disabled]="disabled" [autofocus]="autoFocus" placeholder="{{help}}" [ngModelOptions]="{standalone: true}"
      />
    </ng-template>
  </div>
</div>
