<panel titulo="Cadastro de Políticas de Viagens" id="panel-cadastro">
  <row>
    <input-group width="8" label="Nome da política" help="Informe o nome da política de viagens" [(ngModel)]="vo.nome" id="nome" [disabled]="isExcluir()"></input-group>
    <select-group width="4" label="Status" help="Informe o status" [(ngModel)]="vo.status" [options]="itensStatus" id="status" [disabled]="isExcluir()"></select-group>
  </row>

  <row>
    <textarea-group width="12" [(ngModel)]="vo.texto" [disabled]="isExcluir()" id="texto" help="Informe o texto da política" linhas="4" label="Texto da política"></textarea-group>
  </row>

  <row>
    <col-sm-6></col-sm-6>

    <col-sm-3 *ngIf="!isExcluir()">
      <botao-salvar (click)="salvar()"></botao-salvar>
    </col-sm-3>

    <col-sm-3 *ngIf="isExcluir()">
      <botao-excluir (click)="excluir()"></botao-excluir>
    </col-sm-3>

    <col-sm-3>
      <botao-voltar (click)="voltar()"></botao-voltar>
    </col-sm-3>
  </row>
</panel>
