<panel titulo="Filtros para exportação">
  <row>
    <!-- Filtros para VIAGEM -->
    <select-group *ngIf="isViagem()" width="3" label="Empresa" help="Pesquise pelo empresa" [(ngModel)]="filtro.funcionario$filial$id" (ngModelChange)="pesquisar()" [options]="itensEmpresa"></select-group>
    <select-group *ngIf="isViagem()" width="3" label="Setor" help="Pesquise pelo setor" [(ngModel)]="filtro.funcionario$setor$id" (ngModelChange)="pesquisar()" [options]="itensSetor"></select-group>
    <select-group *ngIf="isViagem()" width="3" label="Funcionário" help="Pesquise pelo funcionário" [(ngModel)]="filtro.funcionario$id" (ngModelChange)="pesquisar()" [options]="itensFuncionario"></select-group>

    <!-- Filtros para LANCAMENTOS -->
    <select-group *ngIf="isLancamento()" width="3" label="Empresa" help="Pesquise pelo empresa" [(ngModel)]="filtro.viagem$funcionario$filial$id" (ngModelChange)="pesquisar()" [options]="itensEmpresa"></select-group>
    <select-group *ngIf="isLancamento()" width="3" label="Setor" help="Pesquise pelo setor" [(ngModel)]="filtro.viagem$funcionario$setor$id" (ngModelChange)="pesquisar()" [options]="itensSetor"></select-group>
    <select-group *ngIf="isLancamento()" width="3" label="Funcionário" help="Pesquise pelo funcionário" [(ngModel)]="filtro.viagem$funcionario$id" (ngModelChange)="pesquisar()" [options]="itensFuncionario"></select-group>

    <col-sm-3>
      <botao-pesquisar [marginTop]="25" (click)="pesquisar()"></botao-pesquisar>
    </col-sm-3>
  </row>

  <row>
    <!-- Filtros para VIAGEM -->
    <select-group *ngIf="isViagem()" width="3" label="Status da Viagem" help="Pesquise pelo status da viagem" [(ngModel)]="filtro.status" (ngModelChange)="pesquisar()" [options]="itensStatusViagem"></select-group>
    <select-group *ngIf="isViagem()" width="3" label="Centro de custo" help="Pesquise pelo centro de custo" [(ngModel)]="filtro.centroCusto$id" (ngModelChange)="pesquisar()" [options]="itensCentroCusto"></select-group>
    <col-sm-3 *ngIf="isViagem()"></col-sm-3>

    <!-- Filtros para LANCAMENTOS -->
    <select-group *ngIf="isLancamento()" width="3" label="Status da Viagem" help="Pesquise pelo status da viagem" [(ngModel)]="filtro.viagem$status" (ngModelChange)="pesquisar()" [options]="itensStatusViagem"></select-group>
    <select-group *ngIf="isLancamento()" width="3" label="Categoria" help="Pesquise pela categoria" [(ngModel)]="filtro.viagem$categoria$id" (ngModelChange)="pesquisar()" [options]="itensCategoria"></select-group>
    <select-group *ngIf="isLancamento()" width="3" label="Centro de custo" help="Pesquise pelo centro de custo" [(ngModel)]="filtro.viagem$centroCusto$id" (ngModelChange)="pesquisar()" [options]="itensCentroCusto"></select-group>

    <col-sm-3>
      <botao-limpar-pesquisa [marginTop]="25" (click)="limpar()"></botao-limpar-pesquisa>
    </col-sm-3>
  </row>

  <row>
    <input-group *ngIf="isViagem()" width="3" label="Data inicial" [(ngModel)]="filtro.dataIdaInicial" (ngModelChange)="pesquisar()" help="Informe a data inicial" type="date"></input-group>
    <input-group *ngIf="isViagem()" width="3" label="Data final" [(ngModel)]="filtro.dataVoltaFinal" (ngModelChange)="pesquisar()" help="Informe a data final" type="date"></input-group>

    <input-group *ngIf="isLancamento()" width="3" label="Data inicial" [(ngModel)]="filtro.dataInicialInicial" (ngModelChange)="pesquisar()" help="Informe a data inicial" type="date"></input-group>
    <input-group *ngIf="isLancamento()" width="3" label="Data final" [(ngModel)]="filtro.dataFinalFinal" (ngModelChange)="pesquisar()" help="Informe a data final" type="date"></input-group>


    <select-group width="3" label="Tipo de Saída do Relatório" help="Tipo de saída do relatório" [(ngModel)]="tipoRelatorio" (ngModelChange)="mudarTipo()" [options]="itensTipoSaida"></select-group>

    <col-sm-3>
      <botao [marginTop]="25" icon="fa fa-cogs" text="Processar" (click)="processar()"></botao>
    </col-sm-3>
  </row>

  <row>
    <col-sm-12>
      <dt-data-table #dtViagem *ngIf="isViagem()" [total]="dadosViagem?.total" [data]="dadosViagem?.lista" [paginated]="true" (onPaginate)="paginacao($event)" keyEvents="true">
        <column width="6" field="descricao" header="Descrição"></column>
        <column width="2" field="cliente.nome" header="Cliente"></column>
        <column width="1" field="projeto.nome" header="Projeto"></column>
        <column width="1" field="dataIda" header="Data de ida"></column>
        <column width="1" field="dataVolta" header="Data de volta"></column>
        <column width="1" field="status" header="Status"></column>
      </dt-data-table>

      <dt-data-table #dtLancamento *ngIf="isLancamento()" [total]="dadosLancamento?.total" [data]="dadosLancamento?.lista" [paginated]="true" (onPaginate)="paginacao($event)" keyEvents="true">
        <column width="4" field="funcionario.nome" header="Funcionário"></column>
        <column width="2" field="categoria.nome" header="Categoria"></column>
        <column width="2" field="dataInicial" header="Data"></column>
        <column width="2" field="tipoLancamento" header="Tipo"></column>

        <column width="2" alignment="right" alignmentHeader="right" useTemplate="true" header="Valor">
          <ng-template let-lancamento="data">
            {{ lancamento.valorLancamento | currency:'BRL':true }}
          </ng-template>
        </column>
      </dt-data-table>
    </col-sm-12>
  </row>
</panel>
