<div class="panel {{ getClassColor() }}" id="{{ componentId }}">
  <div *ngIf="getTitulo()" class="panel-heading">
    <div class="panel-title">
      <strong>{{ getTitulo() }}</strong>
    </div>
  </div>
  <div class="panel-body" [style.maxHeight.px]="maxHeight" [style.minHeight.px]="minHeight" [ngClass]="{'panel-max-height': hasMaxHeight()}" >
    <ng-content></ng-content>
  </div>
</div>
