<panel titulo="Consulta de Relatórios de viagem">
  <row>
    <input-group width="3" label="Número do relatório de viagem" help="Pesquise pelo Número do relatório de viagem" [(ngModel)]="filtro.sequencial" (ngModelChange)="pesquisar()" id="projeto_nome"></input-group>

    <col-sm-2>
      <botao-pesquisar [marginTop]="25" (click)="pesquisar()"></botao-pesquisar>
    </col-sm-2>

    <col-sm-2>
      <botao-limpar-pesquisa [marginTop]="25" (click)="limpar()"></botao-limpar-pesquisa>
    </col-sm-2>
  </row>

  <row>
    <col-sm-12>
      <dt-data-table #dt [total]="dados?.total" [data]="dados?.lista" [paginated]="true" (onPaginate)="paginacao($event)" keyEvents="true">
        <column width="1" header="Número" useTemplate="true">
          <ng-template let-viagem="data" let-index="index">
            {{ viagem.sequencial | padding:'0':6 }}
          </ng-template>
        </column>

        <column width="3" field="descricao" header="Descrição"></column>
        <column width="2" field="status" header="Status"></column>

        <column width="1" field="dataIda" header="Ida"></column>
        <column width="1" field="dataVolta" header="Volta"></column>

        <column width="2" alignment="right" alignmentHeader="right" header="Saldo Final" useTemplate="true">
          <ng-template let-viagem="data">
            {{ viagem.fechamento?.saldoFinal | currency:'BRL':true }}
          </ng-template>
        </column>

        <buttons-right>
          <col-sm-4>
            <botao-alterar [marginTop]="37" (click)="editar()" text="Abrir Relatório de Viagem"></botao-alterar>
          </col-sm-4>

          <col-sm-4>
            <botao-excluir [marginTop]="37" (click)="excluir()"></botao-excluir>
          </col-sm-4>

          <col-sm-4>
            <botao-novo [marginTop]="37" (click)="novo()"></botao-novo>
          </col-sm-4>

        </buttons-right>
      </dt-data-table>

    </col-sm-12>
  </row>
</panel>
