<div class="col-sm-{{ width }}">
  <div class="form-group">
    <label *ngIf="label" for="internal_{{ componentId }}">{{ label }} </label>
    <select class="form-control" id="internal_{{ componentId }}" [disabled]="disabled" multiple="multiple">
      <ng-template [ngIf]="!getOptionGroups()">
        <option *ngFor="let item of options" value="{{ item.value }}">{{ item.label }}</option>
      </ng-template>

      <ng-template [ngIf]="getOptionGroups()">
        <ng-template ngFor let-group="$implicit" [ngForOf]="getOptionGroups()">
          <optgroup label="{{ group }}">
            <option *ngFor="let item of (options | groupFilter: group) " value="{{ item.value }}">{{ item.label }}</option>
          </optgroup>
        </ng-template>
      </ng-template>
    </select>
  </div>
</div>
