.nomeFuncionario {
  display: inline-block;
  margin-top: 16px;
  margin-left: 10px;
}

.fotoFuncionario {
  display: inline-block;
  height: 40px;
  width: 40px;
}

.linkFuncionario {
  cursor: pointer;
}

.logo-header {
  position: absolute;
  height: 40px;
  display: inline-block;
  top: 4px;
  left: 4px;
}

.text-nome-empresa {
  margin-left: 267px;
}

.badge-notify{
  background:red;
  position:relative;
  top: -12px;
  right: 45px;
}

.app-version-home {
  left: 33px;
  /* margin-top: 10px; */
  bottom: 20px;
  position: absolute;
}
