<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/']">
      <img class="logo-header" src="assets/img/MarcaTravelCorp_EmBranco.png" />
      <span class="text-nome-empresa">{{ sessaoUsuario?.empresa?.nome }}</span>
    </a>
  </div>

  <ul class="nav navbar-top-links navbar-right">
    <!-- Mensagens -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-envelope fa-fw"></i>
        <i class="fa fa-caret-down"></i>
        <span class="badge badge-notify">{{ getTotalNaoLidas() }}</span>
      </a>
      <ul class="dropdown-menu dropdown-messages">
        <!-- <li>

          <a href="#">
            <div>
              <strong>John Smith</strong>
              <span class="pull-right text-muted">
                <em>Yesterday</em>
              </span>
            </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
          </a>
        </li>
        <li class="divider"></li>

        <li>
          <a href="#">
            <div>
              <strong>John Smith</strong>
              <span class="pull-right text-muted">
                <em>Yesterday</em>
              </span>
            </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
          </a>
        </li>
        <li class="divider"></li>

        <li>
          <a href="#">
            <div>
              <strong>John Smith</strong>
              <span class="pull-right text-muted">
                <em>Yesterday</em>
              </span>
            </div>
            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
          </a>
        </li> -->

        <ng-template ngFor let-mensagem="$implicit" [ngForOf]="mensagens">
          <li>
            <a href="#" [routerLink]="['/minhas-mensagens/editar', mensagem.id]" routerLinkActive="router-link-active">
              <div>
                <strong>{{ mensagem.autor.nome }}</strong>
                <span class="pull-right text-muted">
                  <em>{{ mensagem.dataHoraCriacao }}</em>
                </span>
              </div>
              <div>{{ mensagem.textoMensagem | truncate:120 }}</div>
            </a>
          </li>
          <li class="divider"></li>
        </ng-template>
        <li>
          <a class="text-center" [routerLink]="['/minhas-mensagens']">
            <strong>Ler todas as mensagens</strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>

      </ul>
      <!-- /.dropdown-messages -->
    </li>


    <li class="dropdown linkFuncionario" [routerLink]="['/dados-funcionario']">
      <img class="fotoFuncionario img-circle img-thumbnail center-block" src="{{ getFotoFuncionario() }} " />
      <span class="nomeFuncionario">{{ sessaoUsuario?.funcionario?.nome }}</span>
    </li>
  </ul>

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li>
          <a [routerLink]="['/']">
            <i class="fa fa-home fa-fw"></i> Início</a>
        </li>
        <li>
          <a [routerLink]="['/dados-funcionario']">
            <i class="fa fa-user fa-fw"></i> Meus dados</a>
        </li>

        <ng-template ngFor let-node="$implicit" let-i="index" [ngForOf]="sessaoUsuario.funcionario.perfil.nodes">
          <li>
            <a href="javascript:void(0)">
              <i class="{{ node.icone }}"></i> {{ node.nome }}
              <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level">
              <li *ngFor="let filho of node.filhos">
                <ng-template ngIf="node.url && filho.url">
                  <a [routerLink]="[node.url ,filho.url]">{{ filho.nome }}</a>
                </ng-template>
              </li>
            </ul>
          </li>

        </ng-template>

        <li>
          <a [routerLink]="['/logoff']">
            <i class="fa fa-sign-out"></i> Sair</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div class="app-version-home">
  <app-version negative="true"></app-version>
</div>
