<panel titulo="Cadastro de Viagens" id="panel-cadastro">
  <row>
    <input-group width="8" label="Descrição" help="Informe uma descrição para a viagem" [(ngModel)]="vo.descricao" id="descricao" [disabled]="isExcluir()"></input-group>
    <select-group width="4" label="Status" help="Informe o status da viagem" [(ngModel)]="vo.status" [options]="itensStatusViagem" id="status" [disabled]="isExcluir()"></select-group>
  </row>

  <row>
    <textarea-group width="6" label="Objetivo" help="Informe o objetivo da viagem" [(ngModel)]="vo.objetivo" id="objetivo" [disabled]="isExcluir()"></textarea-group>
    <textarea-group width="6" label="Observações" help="Informe observações gerais sobre a viagem" [(ngModel)]="vo.observacao" id="observacao" [disabled]="isExcluir()"></textarea-group>
  </row>

  <row>
    <select-group width="6" label="Cliente" help="Informe o cliente para o custo da viagem" [(ngModel)]="vo.cliente.id" [options]="itensCliente" id="cliente" [disabled]="isExcluir()"></select-group>
    <select-group width="6" label="Projeto" help="Informe o projeto para o custo da viagem" [(ngModel)]="vo.projeto.id" [options]="itensProjeto" id="projeto" [disabled]="isExcluir()"></select-group>
  </row>

  <row>
    <input-group width="3" label="Data Ida" help="Informe a data de ida" [(ngModel)]="vo.dataIda" id="dataIda" [disabled]="isExcluir()" type="date"></input-group>
    <input-group width="3" label="Data Volta" help="Informe a data de volta" [(ngModel)]="vo.dataVolta" id="dataVolta" [disabled]="isExcluir()" type="date"></input-group>
  </row>

  <row>
    <col-sm-6></col-sm-6>
    <col-sm-3 *ngIf="!isExcluir()">
      <botao-salvar (click)="salvar()"></botao-salvar>
    </col-sm-3>

    <col-sm-3 *ngIf="isExcluir()">
      <botao-excluir (click)="excluir()"></botao-excluir>
    </col-sm-3>

    <col-sm-3>
      <botao-voltar (click)="voltar()"></botao-voltar>
    </col-sm-3>
  </row>
</panel>
