@import "../../../colors";

tr {
  cursor : pointer;
}

.linha-selecionada {
  border-color: $cor-azul-background !important;
  background-image: none !important;
  background-color: $cor-azul-background !important;
  color: $cor-fonte !important;
}
