<panel titulo="Consulta de Funcionários">
  <row>
    <input-group width="4" label="Nome do funcionário" help="Pesquise pelo nome do funcionário" [(ngModel)]="filtro.nome" (ngModelChange)="pesquisar()" id="nome"></input-group>
    <input-group width="4" label="Email do funcionário" help="Pesquise pelo email do funcionário" [(ngModel)]="filtro.email" (ngModelChange)="pesquisar()" id="email"></input-group>

    <col-sm-4>
      <botao-pesquisar [marginTop]="25" (click)="pesquisar()"></botao-pesquisar>
    </col-sm-4>
  </row>

  <row>
    <select-group width="2" label="Status" help="Pesquise pelo status" [(ngModel)]="filtro.status" (ngModelChange)="pesquisar()" [options]="itensStatus"></select-group>
    <select-group width="2" label="Perfil" help="Pesquise pelo perfil" [(ngModel)]="filtro.perfil$id" (ngModelChange)="pesquisar()" [options]="itensPerfil"></select-group>
    <select-group width="2" label="Setor" help="Pesquise pelo setor" [(ngModel)]="filtro.setor$id" (ngModelChange)="pesquisar()" [options]="itensSetor"></select-group>

    <col-sm-2></col-sm-2>

    <col-sm-4>
      <botao-limpar-pesquisa [marginTop]="25" (click)="limpar()"></botao-limpar-pesquisa>
    </col-sm-4>
  </row>

  <row>
    <col-sm-12>

      <dt-data-table #dt [total]="dados?.total" [data]="dados?.lista" [paginated]="true" (onPaginate)="paginacao($event)" keyEvents="true">
        <column width="4" field="nome" header="Nome do funcionário"></column>
        <column width="3" field="email" header="Email"></column>
        <column width="2" field="perfil.nome" header="Perfil"></column>
        <column width="2" field="setor.nome" header="Setor"></column>
        <column width="1" field="status" header="Ativo"></column>

        <buttons-right>
          <col-sm-4>
            <botao-alterar [marginTop]="37" (click)="editar()"></botao-alterar>
          </col-sm-4>

          <col-sm-4>
            <botao-excluir [marginTop]="37" (click)="excluir()"></botao-excluir>
          </col-sm-4>

          <col-sm-4>
            <botao-novo [marginTop]="37" (click)="novo()"></botao-novo>
          </col-sm-4>

        </buttons-right>
      </dt-data-table>

    </col-sm-12>
  </row>
</panel>
