<panel titulo="Cadastro de Cargos / Funções" id="panel-cadastro">
    <row>
      <input-group width="8" label="Nome da função" help="Informe o nome da função" [(ngModel)]="vo.nome" id="nome" [disabled]="isExcluir()"></input-group>
      <select-group width="4" label="Status" help="Informe o status" [(ngModel)]="vo.status" [options]="itensStatus" id="status" [disabled]="isExcluir()"></select-group>
    </row>

    <row>
      <col-sm-6></col-sm-6>

      <col-sm-3 *ngIf="!isExcluir()">
        <botao-salvar (click)="salvar()"></botao-salvar>
      </col-sm-3>

      <col-sm-3 *ngIf="isExcluir()">
        <botao-excluir (click)="excluir()"></botao-excluir>
      </col-sm-3>

      <col-sm-3>
        <botao-voltar (click)="voltar()"></botao-voltar>
      </col-sm-3>
    </row>
  </panel>
