<panel titulo="Cadastro de Categorias de lançamentos" id="panel-cadastro">
  <row>
    <input-group width="8" label="Nome da categoria" help="Informe o nome da categoria" [(ngModel)]="vo.nome" id="nome" [disabled]="isExcluir()"></input-group>
    <select-group width="4" label="Status" help="Informe o status" [(ngModel)]="vo.status" [options]="itensStatus" id="status" [disabled]="isExcluir()"></select-group>
  </row>

  <row>
    <select-group width="4" label="Tipo de lançamento" help="Informe o tipo de lançamento" [(ngModel)]="vo.tipo" [options]="itensTipoLancamento" id="tipo" [disabled]="isExcluir()"></select-group>
  </row>

  <row>
    <col-sm-6></col-sm-6>

    <col-sm-3 *ngIf="!isExcluir()">
      <botao-salvar (click)="salvar()"></botao-salvar>
    </col-sm-3>

    <col-sm-3 *ngIf="isExcluir()">
      <botao-excluir (click)="excluir()"></botao-excluir>
    </col-sm-3>

    <col-sm-3>
      <botao-voltar (click)="voltar()"></botao-voltar>
    </col-sm-3>
  </row>
</panel>
