<panel titulo="Filtros do relatório">
  <row>
    <select-group width="3" label="Empresa / Filial" help="Pesquise pelo empresa / filial" [(ngModel)]="filtro.filialId" (ngModelChange)="pesquisar()" [options]="itensEmpresa"></select-group>
    <select-group width="3" label="Setor" help="Pesquise pelo setor" [(ngModel)]="filtro.setorId" (ngModelChange)="pesquisar()" [options]="itensSetor"></select-group>
    <select-group width="3" label="Funcionário" help="Pesquise pelo funcionário" [(ngModel)]="filtro.funcionarioId" (ngModelChange)="pesquisar()" [options]="itensFuncionario"></select-group>
    <select-group width="3" label="Categoria" help="Pesquise pela categoria" [(ngModel)]="filtro.categoriaId" (ngModelChange)="pesquisar()" [options]="itensCategoria"></select-group>
  </row>

  <row>
    <select-group width="3" label="Status da Viagem" help="Pesquise pelo status da viagem" [(ngModel)]="filtro.statusViagem" (ngModelChange)="pesquisar()" [options]="itensStatusViagem"></select-group>
    <select-group width="3" label="Centro de custo" help="Pesquise pelo centro de custo" [(ngModel)]="filtro.centroCustoId" (ngModelChange)="pesquisar()" [options]="itensCentroCusto"></select-group>

    <col-sm-3></col-sm-3>
    <col-sm-3>
      <botao-limpar-pesquisa text="Limpar filtros" [marginTop]="25" (click)="limpar()"></botao-limpar-pesquisa>
    </col-sm-3>
  </row>

  <row>
    <input-group width="3" label="Data inicial" [(ngModel)]="filtro.dataInicial" (ngModelChange)="pesquisar()" help="Informe a data inicial" type="date"></input-group>
    <input-group width="3" label="Data final" [(ngModel)]="filtro.dataFinal" (ngModelChange)="pesquisar()" help="Informe a data final" type="date"></input-group>

    <select-group width="3" label="Tipo de Saída do Relatório" help="Tipo de saída do relatório" [(ngModel)]="filtro.tipoRelatorio" (ngModelChange)="mudarTipo()" [options]="itensTipoRelatorio"></select-group>

    <col-sm-3>
      <botao [marginTop]="25" icon="fa fa-cogs" text="Processar" (click)="processar()"></botao>
    </col-sm-3>
  </row>

  <row>
    <!-- TODO: Preview do PDF -->
  </row>
</panel>
