<ng-container *ngIf="isAutenticado();else naoAutenticado">
  <app-base>
    <row>
      <col-sm-12>
        <h1 class="page-header">{{ getTitulo() }}</h1>
      </col-sm-12>
    </row>
    <router-outlet></router-outlet>
  </app-base>
</ng-container>

<ng-template #naoAutenticado>
    <router-outlet></router-outlet>
</ng-template>
