<panel titulo="Cadastro de Perfis de acesso" id="panel-cadastro">

  <row>
    <col-sm-6>
      <h3 class="page-header">Dados do perfil</h3>
      <row>
        <input-group width="12" label="Nome do perfil" help="Informe o nome do perfil" [(ngModel)]="vo.nome" id="nome" [disabled]="isExcluir()"></input-group>
      </row>
      <row>
        <select-group width="12" label="Status" help="Informe o status" [(ngModel)]="vo.status" [options]="itensStatus" id="status" [disabled]="isExcluir()"></select-group>
      </row>
    </col-sm-6>

    <col-sm-6>
      <h3 class="page-header">Permissões</h3>

      <row>
        <div id="treePermissoes"></div>
      </row>

    </col-sm-6>
  </row>

  <row>
    <col-sm-3>
      <button class="btn btn-block " (click)="marcarTodos()">
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
        Marcar todos</button>
    </col-sm-3>

    <col-sm-3>
      <button class="btn btn-block " (click)="desmarcarTodos()">
        <i class="fa fa-square-o" aria-hidden="true"></i>
        Desmarcar todos</button>
    </col-sm-3>
    <col-sm-3 *ngIf="!isExcluir()">
      <botao-salvar (click)="salvar()"></botao-salvar>
    </col-sm-3>

    <col-sm-3 *ngIf="isExcluir()">
      <botao-excluir (click)="excluir()"></botao-excluir>
    </col-sm-3>

    <col-sm-3>
      <botao-voltar (click)="voltar()"></botao-voltar>
    </col-sm-3>
  </row>
</panel>
