<panel titulo="Cadastro de Configurações de Aprovação de Viagem por Filial" id="panel-cadastro">
  <row>
    <!-- <input-group width="8" label="Nome da categoria" help="Informe o nome da categoria" [(ngModel)]="vo.nome" id="nome" [disabled]="isExcluir()"></input-group> -->
    <select-group width="4" label="Filial" help="Informe a filial" [(ngModel)]="vo.filial.id" [options]="itensEmpresa" id="filial" [disabled]="isExcluir()"></select-group>
    <select-group width="4" label="Possui aprovação de nível?" help="" [(ngModel)]="vo.possuiAprovacaoNivel" [options]="itensSimNao" id="status" [disabled]="isExcluir()"></select-group>
  </row>

  <row>

    <col-sm-12>
      <row>
        <col-sm-10>
          <h4>Hierarquia de aprovação</h4>
        </col-sm-10>
        <col-sm-2>
          <button class="btn btn-block" (click)="adicionarNivel()" *ngIf="!isExcluir()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Adicionar</button>
        </col-sm-2>
      </row>
      <hr/>
    </col-sm-12>

    <col-sm-12>

      <panel color="default" id="panel-funcionarios">
        <row>
          <col-sm-7>
            Funcionário
          </col-sm-7>
          <col-sm-2>
            Ordem
          </col-sm-2>
          <col-sm-2>
            Prazo de aprovação
          </col-sm-2>
        </row>
        <row *ngFor="let item of vo.funcionarios | orderBy: 'ordem'">
          <select-group label="" width="7" [options]="itensFuncionario" [(ngModel)]="item.funcionario.id"></select-group>
          <input-group width="2" [(ngModel)]="item.ordem" type="number"></input-group>
          <input-group width="2" [(ngModel)]="item.prazoAprovacaoHoras" type="number"></input-group>

          <col-sm-1>
            <button tabindex="-1" class="btn btn-ico" (click)="removerNivel(item)" data-toggle="tooltip" data-placement="bottom" title="Clique para remover este nível" [disabled]="isExcluir()">
              <i class="fa fa-trash"></i>
            </button>
          </col-sm-1>
        </row>
      </panel>
    </col-sm-12>
  </row>

  <row>
    <col-sm-6></col-sm-6>

    <col-sm-3 *ngIf="!isExcluir()">
      <botao-salvar (click)="salvar()"></botao-salvar>
    </col-sm-3>

    <col-sm-3 *ngIf="isExcluir()">
      <botao-excluir (click)="excluir()"></botao-excluir>
    </col-sm-3>

    <col-sm-3>
      <botao-voltar (click)="voltar()"></botao-voltar>
    </col-sm-3>
  </row>
</panel>
