<!-- Painel de login -->
<div *ngIf="!isAlterarSenha" class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <div>
        <img class="logo-login" src="assets/img/MarcaTravelCorp_EmBranco.png" />
      </div>

      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Login</h3>
        </div>
        <div class="panel-body">
          <form role="form">
            <fieldset>
              <div class="form-group">
                <input class="form-control" placeholder="E-mail" id="email" name="email" type="email" [(ngModel)]="email" autocomplete="off">
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Senha" id="senha" name="senha" type="password" value="" [(ngModel)]="senha" autocomplete="new-password">
              </div>
              <div class="checkbox">
                <label>
                  <input name="lembrar" type="checkbox" value="Lembrar email" [(ngModel)]="lembrar">Lembrar Email
                </label>
              </div>
              <button id="botaoEntrar" (click)="entrar()" class="btn btn-lg btn-block">Entrar</button>
            </fieldset>
          </form>

          <div class="app-version-login">
            <app-version></app-version>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Painel de alterar senha -->
<div *ngIf="isAlterarSenha" class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Alterar senha</h3>
        </div>
        <div class="panel-body">
          <form role="form">
            <fieldset>
              <div class="alert alert-success" role="alert">
                Sua senha precisa ser alterada antes de prosseguir!
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Nova senha" id="novaSenha" name="novaSenha" type="password" value="" [(ngModel)]="novaSenha" autocomplete="new-password">
              </div>

              <div class="form-group">
                <input class="form-control" placeholder="Confirmação nova senha" id="confirmacaoNovaSenha" name="confirmacaoNovaSenha" type="password" value="" [(ngModel)]="confirmacaoNovaSenha" autocomplete="new-password">
              </div>

              <button id="botaoAlterarSenha" (click)="alterarSenha()" class="btn btn-lg btn-success btn-block">
                <i class="fa fa-key"></i>Alterar senha</button>
            </fieldset>
          </form>

          <div class="app-version-login">
            <app-version></app-version>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
