<panel titulo="Cadastro de Setores" id="panel-cadastro">
  <row>
    <input-group width="9" label="Nome do Setor" help="Informe o nome do Setor" [(ngModel)]="vo.nome" id="nome" [disabled]="isExcluir()"></input-group>
    <select-group width="3" label="Status" help="Informe o status" [(ngModel)]="vo.status" [options]="itensStatus" id="status" [disabled]="isExcluir()"></select-group>
  </row>

  <row>
      <select-group width="6" label="Filial" help="Informe a qual filial pertence este setor" [(ngModel)]="vo.filial.id" [options]="itensFilial" id="filial" [disabled]="isExcluir()"></select-group>
      <select-group width="6" label="Centro de Custo" help="Informe o centro de custo deste setor" [(ngModel)]="vo.centroCusto.id" [options]="itensCentroCusto" id="centroCusto" [disabled]="isExcluir()"></select-group>
  </row>

  <row>
    <col-sm-6></col-sm-6>

    <col-sm-3 *ngIf="!isExcluir()">
      <botao-salvar (click)="salvar()"></botao-salvar>
    </col-sm-3>

    <col-sm-3 *ngIf="isExcluir()">
      <botao-excluir (click)="excluir()"></botao-excluir>
    </col-sm-3>

    <col-sm-3>
      <botao-voltar (click)="voltar()"></botao-voltar>
    </col-sm-3>
  </row>
</panel>
