<panel titulo="Cadastro de Centros de Custo" id="panel-cadastro">
  <row>
    <input-group width="6" label="Código do Centro de Custo" help="Informe o Código do Centro de Custo" [(ngModel)]="vo.codigo" id="codigo" [disabled]="isExcluir()"></input-group>
    <input-group width="6" label="Nome do Centro de Custo" help="Informe o nome do Centro de Custo" [(ngModel)]="vo.nome" id="nome" [disabled]="isExcluir()"></input-group>
  </row>

  <row>
    <select-group width="6" label="Pai" help="Informe o centro de custo pai" [(ngModel)]="vo.pai.id" [options]="itensCentroCusto" id="pai" [disabled]="isExcluir()"></select-group>
    <select-group width="6" label="Status" help="Informe o status" [(ngModel)]="vo.status" [options]="itensStatus" id="status" [disabled]="isExcluir()"></select-group>
  </row>

  <row>
    <col-sm-6></col-sm-6>

    <col-sm-3 *ngIf="!isExcluir()">
      <botao-salvar (click)="salvar()"></botao-salvar>
    </col-sm-3>

    <col-sm-3 *ngIf="isExcluir()">
      <botao-excluir (click)="excluir()"></botao-excluir>
    </col-sm-3>

    <col-sm-3>
      <botao-voltar (click)="voltar()"></botao-voltar>
    </col-sm-3>
  </row>
</panel>
