<panel titulo="Meus dados">
  <h3 class="page-header">Meus dados</h3>

  <row>
    <col-sm-2>
      <img class="fotoFuncionario img-circle img-thumbnail center-block" src="{{ getFotoFuncionario() }} " />
    </col-sm-2>
    <col-sm-10>
      <row>
        <input-group width="6" [(ngModel)]="funcionario.nome" label="Nome" disabled="true" id="funcionario_nome"></input-group>
        <input-group width="6" [(ngModel)]="funcionario.email" label="Email" disabled="true" id="funcionario_email"></input-group>
      </row>

      <row>
        <input-group width="6" [(ngModel)]="funcionario.perfil.nome" label="Perfil de acesso" disabled="true" id="funcionario_perfil_nome"></input-group>
        <input-group width="6" [(ngModel)]="funcionario.celular" label="Celular" disabled="true" id="funcionario_celular"></input-group>
      </row>
    </col-sm-10>
  </row>

  <h3 class="page-header">Alterar senha</h3>

  <row>
    <input-group width="3" id="novaSenha" [(ngModel)]="novaSenha" label="Nova Senha" type="password"></input-group>
    <input-group width="3" id="confirmacaoNovaSenha" [(ngModel)]="confirmacaoNovaSenha" label="Confirmação da Nova Senha" type="password"></input-group>
    <col-sm-2>
      <button class="btn btn-primary btn-fill btn-block" style="margin-top: 25px;" (click)="alterarSenha()">
        <i class="fa fa-key"></i> Alterar senha</button>
    </col-sm-2>
  </row>
</panel>
