<panel titulo="Minhas Mensagens">
  <row>
    <input-group width="6" label="Assunto" help="Pesquise pelo assunto" [(ngModel)]="filtro.assuntoDescricao" id="assuntoDescricao"></input-group>
    <input-group width="6" label="Texto Mensagem" help="Pesquise pelo texto da mensagem" [(ngModel)]="filtro.textoMensagem" id="textoMensagem"></input-group>
  </row>

  <row>
    <col-sm-2 *ngFor="let item of itensTipoCaixa">
      <button class="btn btn-wd btn-fill btn-magnify btn-block" style="margin-top: 25px;" (click)="toogleTipoCaixa(item.value)">
        <i *ngIf="tipoCaixa == item.value" class="fa fa-check-square-o" aria-hidden="true"></i>
        {{ item.label}}

        <ng-template [ngIf]="item.value == 'recebidas'">
          ({{ totais.totalRecebidas }})
        </ng-template>

        <ng-template [ngIf]="item.value == 'enviadas'">
          ({{ totais.totalEnviadas }})
        </ng-template>

        <ng-template [ngIf]="item.value == 'rascunhos'">
          ({{ totais.totalRascunhos }})
        </ng-template>
      </button>
    </col-sm-2>

    <col-sm-3>
      <botao-pesquisar [marginTop]="25" (click)="pesquisar()"></botao-pesquisar>
    </col-sm-3>

    <col-sm-3>
      <botao-limpar-pesquisa [marginTop]="25" (click)="limpar()"></botao-limpar-pesquisa>
    </col-sm-3>
  </row>

  <row>
    <col-sm-12>
      <dt-data-table #dt [total]="dados?.total" [data]="dados?.lista" [paginated]="true" (onPaginate)="paginacao($event)" keyEvents="true" pageSize="5" (dblclick)="editar()">
        <column width="6" useTemplate="true">
          <ng-template let-mensagem="data">
            <h4 class="list-group-item-heading">
              <strong [ngClass]="{'mensagem-nao-lida': isMensagemNaoLida(mensagem)}">{{ getMensagemLida(mensagem) }}{{ mensagem.assuntoDescricao }}</strong>

              <small class="pull-right text-muted">
                <i class="fa fa-clock-o fa-fw"></i> {{ mensagem.dataHoraCriacao }}
              </small>
            </h4>

            <p class="list-group-item-text">
              De: {{ mensagem.autor.nome }}
            </p>

            <p class="list-group-item-text" style="margin-top: 10px;">
              {{ mensagem.textoMensagem | truncate: 120 }}
            </p>

          </ng-template>
        </column>

        <buttons-right>
          <col-sm-4>
            <botao-alterar [marginTop]="37" (click)="editar()" text="Abrir mensagem"></botao-alterar>
          </col-sm-4>

          <col-sm-4>
            <botao-excluir [marginTop]="37" (click)="excluir()"></botao-excluir>
          </col-sm-4>

          <col-sm-4>
            <botao-novo [marginTop]="37" (click)="novo()" text="Escrever mensagem"></botao-novo>
          </col-sm-4>

        </buttons-right>
      </dt-data-table>
    </col-sm-12>
  </row>
</panel>
