<panel titulo="Consulta de Centros de Custo XYZ">
  <row>
    <input-group width="2" label="Código do centro de custo" help="Pesquise pelo código do centro de custo" [(ngModel)]="filtro.codigo" (ngModelChange)="pesquisar()" id="codigo"></input-group>
    <input-group width="2" label="Nome do centro de custo" help="Pesquise pelo nome do centro de custo" [(ngModel)]="filtro.nome" (ngModelChange)="pesquisar()" id="nome"></input-group>
    <select-group width="2" label="Status" help="Pesquise pelo status" [(ngModel)]="filtro.status" (ngModelChange)="pesquisar()" [options]="itensStatus"></select-group>

    <col-sm-3>
      <botao-pesquisar [marginTop]="25" (click)="pesquisar()"></botao-pesquisar>
    </col-sm-3>

    <col-sm-3>
      <botao-limpar-pesquisa [marginTop]="25" (click)="limpar()"></botao-limpar-pesquisa>
    </col-sm-3>
  </row>

  <row>
    <col-sm-12>
      <dt-data-table #dt [total]="dados?.total" [data]="dados?.lista" [paginated]="true" (onPaginate)="paginacao($event)" keyEvents="true">
        <column width="3" field="codigo" header="Código"></column>
        <column width="5" field="nome" header="Nome do Centro de Custo"></column>
        <column width="2" field="status" header="Ativo"></column>

        <buttons-right>
          <col-sm-4>
            <botao-alterar [marginTop]="37" (click)="editar()"></botao-alterar>
          </col-sm-4>

          <col-sm-4>
            <botao-excluir [marginTop]="37" (click)="excluir()"></botao-excluir>
          </col-sm-4>

          <col-sm-4>
            <botao-novo [marginTop]="37" (click)="novo()"></botao-novo>
          </col-sm-4>

        </buttons-right>
      </dt-data-table>
    </col-sm-12>
  </row>
</panel>
