<panel titulo="Consulta de Configurações de Aprovação de Viagem por Filial">
  <row>
    <input-group width="4" label="Nome da filial" help="Pesquise pelo nome da filial" [(ngModel)]="filtro.filial$nome" (ngModelChange)="pesquisar()" id="nomeFilial"></input-group>

    <col-sm-3>
      <botao-pesquisar [marginTop]="25" (click)="pesquisar()"></botao-pesquisar>
    </col-sm-3>

    <col-sm-3>
      <botao-limpar-pesquisa [marginTop]="25" (click)="limpar()"></botao-limpar-pesquisa>
    </col-sm-3>
  </row>

  <row>
    <col-sm-12>

      <dt-data-table [total]="dados?.total" [data]="dados?.lista" [paginated]="true" (onPaginate)="paginacao($event)" keyEvents="true">

        <column useTemplate="true" width="11" header="Filial">
          <ng-template let-config="data">
            <ng-template [ngIf]="config.filial">
              {{ config.filial.nome }}
            </ng-template>

            <ng-template [ngIf]="!config.filial">
              Geral - Todas as empresas
            </ng-template>

          </ng-template>
        </column>

        <buttons-right>
          <col-sm-4>
            <botao-alterar [marginTop]="37" (click)="editar()"></botao-alterar>
          </col-sm-4>

          <col-sm-4>
            <botao-excluir [marginTop]="37" (click)="excluir()"></botao-excluir>
          </col-sm-4>

          <col-sm-4>
            <botao-novo [marginTop]="37" (click)="novo()"></botao-novo>
          </col-sm-4>

        </buttons-right>
      </dt-data-table>

    </col-sm-12>
  </row>
</panel>
