<div class="col-sm-{{ width }}">
  <div class="form-group">
    <label *ngIf="label" for="internal_{{ componentId }} ">{{ label }}</label>
    <input type="text" class="form-control" id="{{getInternalComponentId()}}" name="{{getInternalComponentId()}}" disabled="disabled" value="{{ text }} "/>
  </div>
</div>
