.footer-version {
  // position: absolute;
  // right: 20px;
  // bottom: 10px;
}

.non-negative,
div.non-negative a,
div.non-negative a:hover,
div.non-negative a:visited {
  color: #000000 !important;
}

.negative,
div.negative a,
div.negative a:hover,
div.negative a:visited {
  color: #ffffff !important;
}

.versoes-servicos {
  font-size: 16px;
}
