<div class="footer-version" [ngClass]="{'negative': isNegative(), 'non-negative': isNonNegative()}">
  <a (click)="showVersao()" href="javascript:void(0)">Travel Corporate - Versão {{ version }}</a>
</div>

<app-modal #modalVersao title="Travel Corporate - Versão {{ version }}" modal-id="modalVersao">

  <row class="versoes-servicos">
    <col-sm-6>
      /api/resources:
    </col-sm-6>
    <col-sm-6>
      <strong> {{ versaoApiResource }}</strong>
    </col-sm-6>
  </row>

  <row class="versoes-servicos">
    <col-sm-6>
      /api/reports:
    </col-sm-6>
    <col-sm-6>
      <strong> {{ versaoApiReport }}</strong>
    </col-sm-6>
  </row>

  <row class="versoes-servicos">
    <col-sm-6>
      /api/messages:
    </col-sm-6>
    <col-sm-6>
      <strong> {{ versaoMessagesReport }}</strong>
    </col-sm-6>
  </row>

  <row class="footer-modal">
    <col-sm-9></col-sm-9>
    <col-sm-3>
      <button class="btn btn-default btn-block" data-dismiss="modal">
        <i class="fa fa-close" aria-hidden="true"></i>
        Fechar</button>
    </col-sm-3>
  </row>
</app-modal>
