<panel titulo="Consulta de Relatórios de viagem para aprovação">
  <row>
    <input-group width="2" label="N.º do relatório de viagem" help="Pesquise pelo Número do relatório de viagem" [(ngModel)]="filtro.sequencial" (ngModelChange)="pesquisar()" id="projeto_nome"></input-group>
    <input-group width="3" label="Nome do funcionário" help="Pesquise pelo nome do funcionário" [(ngModel)]="filtro.funcionario$nome" (ngModelChange)="pesquisar()" id="projeto_nome"></input-group>
    <select-group width="3" label="Status" [options]="itensStatusViagem" [(ngModel)]="filtro.status" (ngModelChange)="pesquisar()"></select-group>

    <col-sm-2>
      <botao-pesquisar [marginTop]="25" (click)="pesquisar()"></botao-pesquisar>
    </col-sm-2>

    <col-sm-2>
      <botao-limpar-pesquisa [marginTop]="25" (click)="limpar()"></botao-limpar-pesquisa>
    </col-sm-2>
  </row>

  <row>
    <col-sm-12>
      <dt-data-table #dt [total]="dados?.total" [data]="dados?.lista" [paginated]="true" (onPaginate)="paginacao($event)" keyEvents="true">
        <column width="1" header="Número" useTemplate="true">
          <ng-template let-viagem="data" let-index="index">
            {{ viagem.sequencial | padding:'0':6 }}
          </ng-template>
        </column>

        <column width="1" header="Funcionário" field="funcionario.nome"></column>

        <column width="4" alignment="right" alignmentHeader="right" header="Saldo Anterior" useTemplate="true">
          <ng-template let-viagem="data">
            {{ viagem.fechamento.saldoAnterior | currency:'BRL':true }}
          </ng-template>
        </column>

        <!--
        <column width="2" alignment="right" alignmentHeader="right" header="Total Créditos" useTemplate="true">
          <ng-template let-viagem="data">
            {{ viagem.fechamento.totalCreditos | currency:'BRL':true }}
          </ng-template>
        </column>

        <column width="2" alignment="right" alignmentHeader="right" header="Total Débitos" useTemplate="true">
          <ng-template let-viagem="data">
            {{ viagem.fechamento.totalDebitos | currency:'BRL':true }}
          </ng-template>
        </column>
      -->

        <column width="2" alignment="right" alignmentHeader="right" header="Saldo Final" useTemplate="true">
          <ng-template let-viagem="data">
            {{ viagem.fechamento.saldoFinal | currency:'BRL':true }}
          </ng-template>
        </column>

        <column width="2" field="status" header="Status"></column>

        <buttons-right>
          <col-sm-8></col-sm-8>
          <col-sm-4>
            <botao-alterar [marginTop]="37" (click)="editar()" text="Abrir Relatório de Viagem"></botao-alterar>
          </col-sm-4>
        </buttons-right>
      </dt-data-table>

    </col-sm-12>
  </row>
</panel>
