@import "colors";
@font-face {
  font-family: 'Humans';
  src: url('assets/fonts/humans512bt.ttf') format('truetype'), url('assets/fonts/humans512bt.woff') format('woff');
}

/* Override bootstrap */

.navbar-default {
  background-color: $cor-menu-topo;
  color: $cor-fonte;
  border-color: transparent;
}

.navbar-default .navbar-brand {
  color: $cor-fonte;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: $cor-fonte;
}

a {
  color: $cor-fonte;
}

.sidebar ul li {
  border-bottom: none;
}

body {
  /* font-family: 'Raleway', sans-serif !important; */
  font-family: 'Humans' !important;
  background-color: $cor-menu-topo;
}

.panel-primary>.panel-heading {
  background-color: $cor-azul-background;
  border-color: $cor-azul-background;
  color: $cor-fonte;
}

.panel-primary {
  border-color: $cor-azul-background;
}

.btn {
  background-color: $cor-azul-botao;
  color: $cor-fonte;
}

.btn:hover,
.btn:focus {
  color: #ffffff96;
}

.btn-outline {
  background-color: white !important;
  color: $cor-azul-background;
  border: 1px solid $cor-azul-background;
}

.btn-outline:hover, .btn-outline:focus {
  color: $cor-azul-background;
}

.pagination>li>a,
.pagination>li>span {
  color: $cor-azul-botao;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  color: $cor-fonte;
  background-color: $cor-azul-background;
  border-color: $cor-azul-background;
}

.nav-tabs>li>a {
  color: #000000;
}

/* End override bootstrap */

/* File Upload */

.fileUpload {
  position: relative;
  overflow: hidden;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.upload-file .form-control {
  width: auto;
  display: inherit;
}

.botao-geral {
  background-color: $cor-azul-botao;
  color: $cor-fonte;
}

/* Css loader animation */

.cssload-loader {
  position: relative;
  left: calc(50% - 22px);
  width: 43px;
  height: 43px;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  perspective: 540px;
}

.cssload-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.cssload-inner.cssload-one {
  left: 0%;
  top: 0%;
  animation: cssload-rotate-one 0.45s linear infinite;
  -o-animation: cssload-rotate-one 0.45s linear infinite;
  -ms-animation: cssload-rotate-one 0.45s linear infinite;
  -webkit-animation: cssload-rotate-one 0.45s linear infinite;
  -moz-animation: cssload-rotate-one 0.45s linear infinite;
  border-bottom: 2px solid rgb(33, 101, 204);
}

.cssload-inner.cssload-two {
  right: 0%;
  top: 0%;
  animation: cssload-rotate-two 0.45s linear infinite;
  -o-animation: cssload-rotate-two 0.45s linear infinite;
  -ms-animation: cssload-rotate-two 0.45s linear infinite;
  -webkit-animation: cssload-rotate-two 0.45s linear infinite;
  -moz-animation: cssload-rotate-two 0.45s linear infinite;
  border-right: 2px solid rgb(44, 128, 16);
}

.cssload-inner.cssload-three {
  right: 0%;
  bottom: 0%;
  animation: cssload-rotate-three 0.45s linear infinite;
  -o-animation: cssload-rotate-three 0.45s linear infinite;
  -ms-animation: cssload-rotate-three 0.45s linear infinite;
  -webkit-animation: cssload-rotate-three 0.45s linear infinite;
  -moz-animation: cssload-rotate-three 0.45s linear infinite;
  border-top: 2px solid rgb(199, 117, 54);
}

@keyframes cssload-rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-o-keyframes cssload-rotate-one {
  0% {
    -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-ms-keyframes cssload-rotate-one {
  0% {
    -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-webkit-keyframes cssload-rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@-moz-keyframes cssload-rotate-one {
  0% {
    -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes cssload-rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-o-keyframes cssload-rotate-two {
  0% {
    -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-ms-keyframes cssload-rotate-two {
  0% {
    -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-webkit-keyframes cssload-rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@-moz-keyframes cssload-rotate-two {
  0% {
    -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes cssload-rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@-o-keyframes cssload-rotate-three {
  0% {
    -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@-ms-keyframes cssload-rotate-three {
  0% {
    -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@-webkit-keyframes cssload-rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

@-moz-keyframes cssload-rotate-three {
  0% {
    -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, calc(50vh - 50%));
  -ms-transform: translate(0, 50vh) translate(0, -50%);
  -o-transform: translate(0, calc(50vh - 50%));
  transform: translate(0, 50vh) translate(0, -50%);
}

.popover {
  width: 400px !important; // height: 250px !important;
}

.caracteres-validos {
  color: darkslateblue;
}

.caracteres-invalidos {
  color: brown;
}

.select2-container .select2-selection--single {
  height: 34px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 32px;
}
