<panel titulo="Relatório de Viagem" id="panel-cadastro">
  <row>
    <input-disabled width="3" label="Número" text="{{ vo.sequencial | padding:'0':6 }}" id="sequencial"></input-disabled>
    <input-disabled width="3" label="Data hora de cadastro" text="{{ vo.dataHoraCadastro }}" id="dataHoraCadastro"></input-disabled>
    <input-disabled width="3" label="Data hora de fechamento" text="{{ vo.dataHoraEnviado }}" id="dataHoraEnviado"></input-disabled>
  </row>

  <row>
    <input-disabled width="3" label="Saldo Anterior" text="{{ vo.saldoAnterior | currency:'BRL':true }}" id="sequencial"></input-disabled>
    <input-disabled width="3" label="Total créditos" text="{{ vo.totalCreditos | currency:'BRL':true }}" id="sequencial"></input-disabled>
    <input-disabled width="3" label="Total débitos" text="{{ vo.totalDebitos | currency:'BRL':true }}" id="sequencial"></input-disabled>
    <input-disabled width="3" label="Saldo Final" text="{{ vo.saldoFinal | currency:'BRL':true }}" id="sequencial"></input-disabled>
  </row>



  <strong>Marque os itens para adicionar nesta prestação de contas</strong>
  <hr/>

  <row>
    <col-sm-12>
      <div class="list-group">
        <ng-template ngFor let-lancamento="$implicit" let-i="index" [ngForOf]="getLancamentos()">
          <a href="javascript:void(0)" class="list-group-item left clearfix" (click)="alternarItem(lancamento)">
            <h4 class="list-group-item-heading">

              <i class="fa fa-check-circle-o text-success" aria-hidden="true" *ngIf="isSelecionado(lancamento) && !isFinalizado()"></i>
              <i class="fa fa-circle-o text-info" aria-hidden="true" *ngIf="!isSelecionado(lancamento) && !isFinalizado()"></i>

              <strong>{{ lancamento.sequencial | padding:'0':6 }}</strong> -
              <strong [ngClass]="[lancamento.tipoLancamento == 'Débito' ? 'text-danger': 'text-primary']">{{ lancamento.tipoLancamento }}</strong> - {{ lancamento.categoria.nome }} - {{ lancamento.valorLancamento }}

              <small class="pull-right text-muted">
                <i class="fa fa-calendar-check-o"></i> {{ lancamento.dataReferencia }}
              </small>
            </h4>

            <p class="list-group-item-text">
              <ng-container *ngIf="lancamento.recibo; else semRecibo">
                <row>
                  <col-sm-2>
                    Recibo: {{ lancamento.recibo?.numeroDocumento }}
                  </col-sm-2>

                  <col-sm-2>
                    Data Recibo: {{ lancamento.recibo?.dataReferencia }}
                  </col-sm-2>

                  <col-sm-2>
                    Valor Recibo: {{ lancamento.recibo?.valor }}
                  </col-sm-2>

                  <col-sm-2>
                    <button class="btn btn-primary btn-sm" (click)="exibirRecibo(lancamento)">
                      <i class="fa fa-picture-o" aria-hidden="true"></i>
                      Exibir recibo
                    </button>
                  </col-sm-2>
                </row>

              </ng-container>

              <ng-template #semRecibo>
                Sem recibo declarado.
              </ng-template>
            </p>
          </a>
        </ng-template>
      </div>
    </col-sm-12>
  </row>

  <row>
    <col-sm-2></col-sm-2>

    <col-sm-2 *ngIf="!isExcluir() && !isFinalizado()">
      <button class="btn btn-block btn-warning" (click)="marcarTodos()">
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
        Marcar todos</button>
    </col-sm-2>

    <col-sm-2 *ngIf="!isExcluir() && !isFinalizado()">
      <button class="btn btn-block btn-warning" (click)="desmarcarTodos()">
        <i class="fa fa-square-o" aria-hidden="true"></i>
        Desmarcar todos</button>
    </col-sm-2>

    <col-sm-2 *ngIf="!isExcluir() && !isFinalizado()">
      <button class="btn btn-primary btn-fill btn-wd btn-magnify btn-block btn-success" type="button" (click)="finalizar()">
        <i class="fa fa-paper-plane-o"></i> Finalizar relatório de viagem</button>
    </col-sm-2>

    <col-sm-2 *ngIf="!isExcluir() && !isFinalizado()">
      <botao-salvar (click)="salvar()"></botao-salvar>
    </col-sm-2>

    <col-sm-2 *ngIf="isExcluir() && !isFinalizado()">
      <botao-excluir (click)="excluir()"></botao-excluir>
    </col-sm-2>

    <col-sm-8 *ngIf="isFinalizado()"></col-sm-8>

    <col-sm-2>
      <botao-voltar (click)="voltar()"></botao-voltar>
    </col-sm-2>

  </row>


</panel>

<!-- Modal do recibo -->
<app-modal #reciboModal title="Recibo">
  <row>
    <col-sm-4>
      Recibo:
      <strong> {{ reciboSelecionado?.numeroDocumento }}</strong>
    </col-sm-4>

    <col-sm-4>
      Data Recibo:
      <strong> {{ reciboSelecionado?.dataReferencia }}</strong>
    </col-sm-4>

    <col-sm-4>
      Valor Recibo:
      <strong> {{ reciboSelecionado?.valor }}</strong>
    </col-sm-4>
  </row>

  <row>
    <col-sm-8>
      Incluído por:
      <strong> {{ reciboSelecionado?.funcionario?.nome }}</strong>
    </col-sm-8>

    <col-sm-4>
      Em:
      <strong> {{ reciboSelecionado?.dataInserido }}</strong>
    </col-sm-4>
  </row>

  <row>
    <col-sm-12>
      Fornecedor:
      <strong> {{ reciboSelecionado?.fornecedor?.nome }}</strong>
    </col-sm-12>
  </row>

  <row>
    <col-sm-12>
      Chave Nf-e / NFC-e:

      <a target="_blank" href="{{ reciboSelecionado?.urlNfe }}" *ngIf="reciboSelecionado.urlNfe">
        <strong> {{ reciboSelecionado?.chaveNfe }}</strong>
      </a>

      <strong *ngIf="!reciboSelecionado.urlNfe"> {{ reciboSelecionado?.chaveNfe }}</strong>

    </col-sm-12>
  </row>

  <hr/>

  <row>
    <col-sm-12>
      <img src="{{ reciboSelecionado.fotoAnexoRecibo }}" alt="Sem imagem do Recibo" class="img-responsive">
    </col-sm-12>
  </row>

  <row class="footer-modal">
    <col-sm-12>
      <button class="btn btn-default btn-block" data-dismiss="modal">
        <i class="fa fa-close" aria-hidden="true"></i>
        Fechar</button>
    </col-sm-12>
  </row>
</app-modal>
