<div class="col-sm-{{ width }}">
  <div class="form-group form-md-line-input form-md-floating-label">
    <label for="internal_{{ componentId }} ">{{ label }}</label>
    <!-- <span class="help-block ">{{ help }}</span> -->
    <textarea rows="{{ linhas }}" class="form-control" id="internal_{{ componentId }}" [(ngModel)]="value" (blur)="onBlur()" (ngModelChange)="changeModel()" placeholder="{{help}}" [disabled]="disabled" [maxlength]="max">
    </textarea>
  </div>
</div>
