<row>
  <col-sm-6>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-pencil-square-o fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ meusDados.viagensAberto }}</div>
            <div>Viagens em aberto</div>
          </div>
        </div>
      </div>

      <a href="javascript:void(0)" [routerLink]="['/colaborador/minhas-viagens']">
        <div class="panel-footer">
          <span class="pull-left">Ir para Minhas Viagens</span>
          <span class="pull-right">
            <i class="fa fa-arrow-circle-right"></i>
          </span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </col-sm-6>

  <col-sm-6>
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-usd fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ meusDados.ultimaViagem?.fechamento?.saldoFinal | currency:'BRL':true }}</div>
            <div>Saldo Última Viagem Aprovada</div>
          </div>
        </div>
      </div>

      <a href="javascript:void(0)" [routerLink]="['/colaborador/minhas-viagens']">
        <div class="panel-footer">
          <span class="pull-left">Ir para Minhas Viagens</span>
          <span class="pull-right">
            <i class="fa fa-arrow-circle-right"></i>
          </span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </col-sm-6>
</row>

<row>
  <col-sm-6>
    <div class="panel panel-red" *ngIf="meusDados.ultimaViagemAberta">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-usd fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ meusDados.ultimaViagemAberta?.fechamento?.saldoFinal | currency:'BRL':true }}</div>
            <div>Saldo Última Viagem em aberto</div>
          </div>
        </div>
      </div>

      <a href="javascript:void(0)" [routerLink]="['/colaborador/minhas-viagens/editar/', meusDados.ultimaViagemAberta?.id]">
        <div class="panel-footer">
          <span class="pull-left">Ir para Relatório de Viagem em aberto</span>
          <span class="pull-right">
            <i class="fa fa-arrow-circle-right"></i>
          </span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </col-sm-6>
  <col-sm-6>
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-usd fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ meusDados.saldo | currency:'BRL':true }}</div>
            <div>Saldo Geral</div>
          </div>
        </div>
      </div>

      <a href="javascript:void(0)" [routerLink]="['/colaborador/minhas-viagens']">
        <div class="panel-footer">
          <span class="pull-left">Ir para Minhas Viagens</span>
          <span class="pull-right">
            <i class="fa fa-arrow-circle-right"></i>
          </span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </col-sm-6>
</row>
