<panel titulo="Consulta de Lançamentos">
  <row>
    <input-group width="2" label="Nome do funcionário" help="Pesquise pelo nome do funcionário" [(ngModel)]="filtro.funcionario$nome" (ngModelChange)="pesquisar()" id="funcionario_nome"></input-group>
    <select-group width="2" label="Categoria" help="Pesquise pela categoria" [(ngModel)]="filtro.categoria$id" (ngModelChange)="pesquisar()" [options]="itensCategoria"></select-group>
    <select-group width="2" label="Crédito / Débito" help="Pesquise pela tipo de lançamento" [(ngModel)]="filtro.tipoLancamento" (ngModelChange)="pesquisar()" [options]="itensTipo"></select-group>

    <col-sm-3>
      <botao-pesquisar [marginTop]="25" (click)="pesquisar()"></botao-pesquisar>
    </col-sm-3>

    <col-sm-3>
      <botao-limpar-pesquisa [marginTop]="25" (click)="limpar()"></botao-limpar-pesquisa>
    </col-sm-3>
  </row>

  <row>
    <col-sm-12>
      <dt-data-table #dt [total]="dados?.total" [data]="dados?.lista" [paginated]="true" (onPaginate)="paginacao($event)" keyEvents="true">
        <column width="4" field="funcionario.nome" header="Funcionário"></column>
        <column width="2" field="categoria.nome" header="Categoria"></column>
        <column width="2" field="dataInicial" header="Data"></column>
        <column width="2" field="tipoLancamento" header="Tipo"></column>

        <column width="2" alignment="right" alignmentHeader="right" useTemplate="true" header="Valor">
          <ng-template let-lancamento="data">
            {{ lancamento.valorLancamento | currency:'BRL':true }}
          </ng-template>
        </column>

        <buttons-right>
          <col-sm-4>
            <botao-alterar [marginTop]="37" (click)="editar()"></botao-alterar>
          </col-sm-4>

          <col-sm-4>
            <botao-excluir [marginTop]="37" (click)="excluir()"></botao-excluir>
          </col-sm-4>

          <col-sm-4>
            <botao-novo [marginTop]="37" (click)="novo()"></botao-novo>
          </col-sm-4>

        </buttons-right>
      </dt-data-table>

    </col-sm-12>
  </row>
</panel>
