<panel titulo="Consulta de Multas">
  <row>
    <input-group width="3" label="Número da multa" help="Pesquise pelo Número da multa" [(ngModel)]="filtro.numeroMulta" (ngModelChange)="pesquisar()" id="numeroMulta"></input-group>

    <col-sm-2>
      <botao-pesquisar [marginTop]="25" (click)="pesquisar()"></botao-pesquisar>
    </col-sm-2>

    <col-sm-2>
      <botao-limpar-pesquisa [marginTop]="25" (click)="limpar()"></botao-limpar-pesquisa>
    </col-sm-2>
  </row>

  <row>
    <col-sm-12>
      <dt-data-table #dt [total]="dados?.total" [data]="dados?.lista" [paginated]="true" (onPaginate)="paginacao($event)" keyEvents="true">
        <column width="1" header="Número" field="numeroMulta"></column>

        <column width="2" header="Cidade/UF" useTemplate="true">
          <ng-template let-multa="data">
            {{multa.nomeCidade}} / {{multa.uf}}
          </ng-template>
        </column>

        <column width="2" field="tipoVeiculo" header="Tipo do Veículo"></column>
        <column width="3" field="funcionario.nome" header="Funcionário"></column>
        <column width="2" field="dataHora" header="Data / Hora"></column>

        <column width="2" alignment="right" alignmentHeader="right" header="Valor da Multa" useTemplate="true">
          <ng-template let-multa="data">
            {{ multa.valorMulta | currency:'BRL':true }}
          </ng-template>
        </column>

        <buttons-right>
          <col-sm-4>
            <botao-alterar [marginTop]="37" (click)="editar()"></botao-alterar>
          </col-sm-4>

          <col-sm-4>
            <botao-excluir [marginTop]="37" (click)="excluir()"></botao-excluir>
          </col-sm-4>

          <col-sm-4>
            <botao-novo [marginTop]="37" (click)="novo()"></botao-novo>
          </col-sm-4>

        </buttons-right>
      </dt-data-table>

    </col-sm-12>
  </row>
</panel>
