<panel titulo="Cadastro de Mensagens ({{ vo.status }})" id="panel-cadastro">

  <row>
    <input-disabled label="De:" width="12" id="nomeAutor" text="{{ vo?.autor?.nome }}"></input-disabled>
  </row>

  <row>
    <input-group width="12" label="Assunto" help="Informe o assunto da mensagem" [(ngModel)]="vo.assuntoDescricao" id="assuntoDescricao" [disabled]="isDesabilitado()" (ngModelChange)="changeTitulo()"></input-group>
  </row>

  <row>
    <select-group label="Destinatários" width="12" [(ngModel)]="vo.destinatariosAux" id="destinatariosAux" [disabled]="isDesabilitado()" [options]="itensFuncionarios" [multiple]="true" (ngModelChange)="changeFuncionarios()"></select-group>
  </row>

  <row *ngIf="formasNotificacaoEmpresa && formasNotificacaoEmpresa.length > 0 && !isDesabilitado()">
    <col-sm-12>
      Informe a forma de notificação para esta mensagem
    </col-sm-12>
  </row>

  <row *ngIf="!isDesabilitado()">
    <col-sm-12>
      <ng-template ngFor let-item="$implicit" [ngForOf]="formasNotificacaoEmpresa">
        <button [disabled]="isDesabilitado()" class="btn btn-wd btn-outline" (click)="toogleFormaNotificacao(item)">
          <i *ngIf="isFormaNotificacaoSelecionada(item)" class="fa fa-check-square-o" aria-hidden="true"></i> {{ item.formaNotificacao.nome }}</button>
      </ng-template>
    </col-sm-12>
  </row>

  <row>
    <textarea-group width="12" [(ngModel)]="vo.textoMensagem" [disabled]="isDesabilitado()" id="textoMensagem" help="Informe o texto da mensagem" linhas="8" label="Mensagem"></textarea-group>
  </row>

  <row class="right">
    <col-sm-6 *ngIf="isDesabilitado()"></col-sm-6>
    <col-sm-3 *ngIf="!isDesabilitado()">
      <botao-salvar (click)="salvar()" text="Salvar Rascunho "></botao-salvar>
    </col-sm-3>

    <col-sm-3 *ngIf="!isDesabilitado()">
      <button class="btn btn-fill btn-wd btn-magnify btn-block" (click)="enviar()">
        <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Enviar
      </button>
    </col-sm-3>

    <col-sm-3>
      <botao-excluir (click)="excluir()"></botao-excluir>
    </col-sm-3>

    <col-sm-3>
      <botao-voltar (click)="voltar()"></botao-voltar>
    </col-sm-3>
  </row>
</panel>
